In [ ]:
import pandas as pd

In [ ]:
scientists = pd.read_csv('data/pandas/scientists.csv')
scientists[scientists['Age'] > scientists['Age'].mean()]

In [ ]:
df = (scientists['Age'] > scientists['Age'].mean())

In [ ]:
df.index = [1,2,3,4,5,6,7,8]

In [ ]:
df

In [ ]:
scientists[df]

In [ ]:
import pandas as pd

df1 = pd.read_csv('data/pandas/concat_1.csv')
df2 = pd.read_csv('data/pandas/concat_2.csv')
df3 = pd.read_csv('data/pandas/concat_3.csv')

In [ ]:
display(df1)
display(df2)
display(df3)

In [ ]:
row_concat = pd.concat([df1, df2, df3], axis = 0)
row_concat

In [ ]:
row_concat.loc[3]

In [ ]:
pd.concat([df1, df2, df3], ignore_index = True)

In [ ]:
col_concat = pd.concat([df1, df2, df3], axis = 1)
col_concat

In [ ]:
col_concat['A']

In [ ]:
pd.concat([df1, df2, df3], axis = 1, ignore_index = True)

In [ ]:
s1 = df1['A']
s2 = df1['B']
s3 = df1['C']

In [ ]:
s1

In [ ]:
# 시리즈는 concat axis 0, 1 둘다 가능
pd.concat([s1,s2,s3], axis=1)

In [ ]:
# 시리즈와 데이터프레임 합치기
pd.concat([df1, s1], axis = 0)

In [ ]:
s4 = df1.loc[0]
s4

In [ ]:
pd.concat([df1, s4], axis = 1 )

In [ ]:
s4.name = 'A'

In [ ]:
pd.concat([df1, s4.to_frame()])

In [ ]:
s5 = pd.DataFrame({'A':['a'], 
              'B':['b'], 
              'C':['c'], 
              'D':['d']})

In [ ]:
pd.concat([df1,s5], ignore_index=True)

In [ ]:
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']

In [ ]:
display(df2)
display(df3)

In [ ]:
pd.concat([df1, df2])

In [ ]:
df2.index = [4,5,6,7]

In [ ]:
pd.concat([df1, df2], axis = 1)

In [ ]:
pd.concat([df1, df3], join='inner')

In [ ]:
seoul1 = pd.read_csv('data/pandas/서울특별시 공공자전거 일별 대여건수_21.07-21.12.csv', encoding='euc-kr')
seoul2 = pd.read_csv('data/pandas/서울특별시 공공자전거 일별 대여건수_22.01-22.06.csv', encoding='euc-kr')

In [ ]:
# 184, 181
seoul1 = seoul1.iloc[:184, :2]
seoul2 = seoul2.iloc[:181, :2]

In [ ]:
seoul1.to_csv('data/pandas/공공자전거_21년_하.csv', index=False)
seoul2.to_csv('data/pandas/공공자전거_22년_상.csv', index=False)

In [ ]:
pd.concat([seoul1, seoul2], ignore_index=True)

In [ ]:
seoul1 = pd.read_csv('data/pandas/공공자전거_21년_하.csv')
seoul2 = pd.read_csv('data/pandas/공공자전거_22년_상.csv')

In [ ]:
# 'data/pandas/공공자전거_21년_하.csv' << 파일경로를 리스트에다가 담기
import glob
filepaths = glob.glob('data/pandas/bycle/*')
filepaths

In [ ]:
dfs = []
for file in filepaths:
    df = pd.read_csv(file)
    dfs.append(df)
dfs

In [ ]:
pd.concat(dfs)  # pd.concat([seoul1, seoul2])

In [ ]:
person = pd.read_csv('data/pandas/survey_person.csv')
site = pd.read_csv('data/pandas/survey_site.csv')
survey = pd.read_csv('data/pandas/survey_survey.csv')
visited = pd.read_csv('data/pandas/survey_visited.csv')

In [ ]:
display(person)
display(site)

In [ ]:
pd.concat([person, site], axis = 1)

In [ ]:
visited

In [ ]:
visited2 = visited.sample(frac=1)
visited2

In [ ]:
visited2.merge(site, left_on='site', right_on='name')

In [ ]:
# site, visited

'''select * from site join visited on site.name = visited.site'''
site.merge(visited, left_on = 'name', right_on = 'site')

In [ ]:
site # primary key

In [ ]:
site2 = site.replace('DR-3', 'DR-1')
site2

In [ ]:
site2.merge(visited, left_on='name', right_on='site', how='right')

In [ ]:
sv = site.merge(visited, left_on='name', right_on='site')
ps = person.merge(survey, left_on='ident', right_on='person')
svps = sv.merge(ps, left_on='ident', right_on='taken')
svps

In [ ]:
site.columns = ['site', 'lat', 'long']

In [ ]:
sv = site.merge(visited)
sv

In [ ]:
df1 = sv[['site', 'ident', 'dated']]
df2 = sv[['site', 'ident', 'lat', 'long']]

In [ ]:
df1.merge(df2, left_on=['site', 'ident'], right_on = ['site', 'ident'])

In [ ]:
df2

In [ ]:
visited2 = visited.copy()
visited2['ident'] = visited['ident'].astype('object')

In [ ]:
person.merge(visited2, how='outer')

In [ ]:
import pymysql

conn = pymysql.connect(user='maria', password='1234',
                        host = 'localhost', port = 3306,
                        database = 'python_db')

book_list = pd.read_sql('''select * from book_list''', conn)
book_store = pd.read_sql('''select * from book_store''', conn)

conn.close()

In [ ]:
book_list.head(2)

In [ ]:
book_store.head(2)

In [ ]:
book = book_list.merge(book_store, left_on='PUBLISHER', right_on='BSCODE')

In [ ]:
book.head(1)

In [ ]:
conn = pymysql.connect(user='maria', password='1234',
                        host = 'localhost', port = 3306,
                        database = 'python_db')
sql = '''
select * 
from book_list bl
join book_store bs
on bl.publisher = bs.bscode'''
book2 = pd.read_sql(sql, conn)
conn.close()

In [ ]:
book2.head(1)

In [ ]:
import sqlalchemy as sql

engine = sql.create_engine('mysql://maria:1234@localhost:3306/python_db')
conn = engine.connect()

conn.close()

In [ ]:
pd.read_sql('''select * from book_list''', engine)

In [ ]:
book.to_sql('book', engine, index=False, if_exists='append')

In [ ]:
book_list.to_sql('book', engine, index=False, if_exists='append')

In [ ]:
book.columns

In [ ]:
book_list.columns

In [ ]:
'''insert into book ('BCODE', 'TITLE', 'AUTHOR', 'YEAR-OF-PUBLICATION', 'PUBLISHER',
       'PRICE') values ()'''

In [ ]:
import numpy as np

print(np.NaN)
print(np.nan)
print(np.NAN)

In [ ]:
visited['dated']

In [ ]:
pd.isnull(np.NaN)

In [ ]:
pd.isnull(None)

In [ ]:
pd.isnull(False)

In [ ]:
pd.notnull(np.NaN)

In [ ]:
pd.notnull(None)

In [ ]:
not pd.notnull(False)

In [ ]:
ebola = pd.read_csv('data/pandas/country_timeseries.csv')
ebola.head()

In [ ]:
ebola.shape

In [ ]:
ebola.tail()

In [ ]:
ebola.count()

In [ ]:
ebola.info()

In [ ]:
ebola.shape[0] - ebola.count()

In [ ]:
int(False), float(True)

In [ ]:
False + False + True

In [ ]:
ebola.isnull().sum().sum()

In [ ]:
122 * 18

In [ ]:
ebola['Cases_Guinea'].value_counts(dropna = False)

In [ ]:
ebola.head(2)

In [ ]:
ebola.info()

In [ ]:
# 누락값을 채울때, 누락값을 지울때를 결정할때 보기 좋은 데이터
ebola.isnull().sum() / ebola.shape[0] * 100

In [ ]:
ebola.count() / ebola.shape[0] * 100

In [ ]:
ebola.notnull().sum(axis = 1) / ebola.shape[1] * 100

In [ ]:
!pip install missingno

In [ ]:
import missingno as msno

In [ ]:
msno.matrix(ebola)

In [ ]:
msno.matrix(visited)

In [ ]:
msno.bar(ebola)