In [ ]:
import pandas as pd

In [ ]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']

In [ ]:
ages

In [ ]:
ages + ages

In [ ]:
# 브로드캐스팅 : 같은 shape, size가 아니더라도 계산이 가능하게 해주는 기술
ages + 100

In [ ]:
s = pd.Series([1, 100], index=[1, 2])
s

In [ ]:
ages

In [ ]:
# Null, None : 비슷한 개념
# Nan : Not A Number - 계산이 정상적이지 아닐때 나오는 값

# 판다스에서는 Null == Nan == None

In [ ]:
None + 1

In [ ]:
ages + s

In [ ]:
s = pd.Series([1, 100], index=[99, 100])
s

In [ ]:
ages + s

In [ ]:
ages

In [ ]:
rev_ages = ages.sort_index(ascending=False)
rev_ages

In [ ]:
ages

In [ ]:
ages + rev_ages

In [ ]:
ages[ages >= 50]

In [ ]:
scientists[scientists == 37]

In [ ]:
rev_bool = (ages == 37).sort_index(ascending=False)

In [ ]:
scientists.loc[ row  ,  col ]

In [ ]:
scientists['Name']

In [ ]:
rev_bool

In [ ]:
scientists[rev_bool]

In [ ]:
scientists.loc[ages == 37]

In [ ]:
scientists[[True,False,False,False,False,False,False,False]]

In [ ]:
import numpy as np

arr = np.array([1,2,3,4,5])
arr >= 3

In [ ]:
arr[arr >= 3]  # == arr[[False, False,  True,  True,  True]]

In [ ]:
scientists[scientists['Age'] > scientists['Age'].mean()]

In [ ]:
arr.astype(np.int8)

In [ ]:
ages_str = ages.astype(str)
ages_str

In [ ]:
ages_str[0]

In [ ]:
str(ages[0])

In [ ]:
scientists.iloc[0]['Age']

In [ ]:
ages + ages_str

In [ ]:
scientists['Born']

In [ ]:
pd.to_datetime('01/10/2024', format='%d/%m/%Y')

In [ ]:
pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [ ]:
scientists['Born'].astype('datetime64[ns]')

In [ ]:
pd.to_datetime('2024년 1월', format='%Y년 %m월')

In [ ]:
pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [ ]:
scientists['born_dt'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
scientists['died_dt'] = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

In [ ]:
scientists.dtypes

In [ ]:
scientists['Born'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [ ]:
scientists.dtypes

In [ ]:
ages[2] = 80

In [ ]:
ages

In [ ]:
scientists

In [ ]:
s[99] = 20
s

In [ ]:
s[101] = 120
s

In [ ]:
scientists.loc[2, 'Age'] = 90

In [ ]:
scientists

In [ ]:
s

In [ ]:
df = pd.DataFrame([[10], [20], [30]], index=[99, 100, 101])
df['s'] = s
df

In [ ]:
pd.to_datetime('1월 24일 12시 37분', format = '%m월 %d일 %H시 %M분')

In [ ]:
scientists['died_dt'] - scientists['born_dt']

In [ ]:
print(scientists['born_dt'].dt.year)

In [ ]:
print(scientists['born_dt'].dt.month)

In [ ]:
print(scientists['born_dt'].dt.day)

In [ ]:
print(scientists['born_dt'].dt.quarter)

In [ ]:
# 요일 데이터
scientists['born_dt'].dt.weekday  # year, month, day, quarter, hour, minute, second

In [ ]:
scientists['born_dt'].dt.strftime('%a')

In [ ]:
scientists.loc[[1, 3, 5, 7], 'Age'] = 'missing'
print(scientists['Age'].dtype)
scientists

In [ ]:
pd.to_numeric(scientists['Age'], errors='coerce')

In [ ]:
scientists.drop('Age', axis=1)

In [ ]:
scientists.drop(0, axis=0)

In [ ]:
scientists.drop(['born_dt', 'died_dt'], axis=1)

In [ ]:
scientists.drop([0,1,2,3], axis=0)

In [ ]:
df

In [ ]:
df.drop(99, inplace=True)

In [ ]:
names = scientists['Name']
names.to_pickle('../data/scientists_names_series.pickle')

In [ ]:
scientists.to_pickle('../data/scientists.pickle')

In [ ]:
pd.read_pickle('../data/scientists_names_series.pickle')

In [ ]:
pd.read_pickle('../data/scientists.pickle')

In [ ]:
import pickle

In [ ]:
with open('pandas/test.pickle', 'wb') as f:
    pickle.dump([1,2,3], f)

In [ ]:
with open('pandas/test.pickle', 'rb') as f:
    a = pickle.load(f)
    print(a)

In [ ]:
scientists.to_csv('pandas/scientists_df.csv')

In [ ]:
scientists.to_csv('pandas/scientists_notindex.csv', index = False)

In [ ]:
pd.read_csv('pandas/scientists_df.csv', index_col = 0)

In [ ]:
# header = 컬럼명을 row에서 지정해서 들고오겠다.
pd.read_csv('pandas/scientists_notindex.csv', header = 3)

In [ ]:
# skiprows = row를 위에서부터 N줄 무시하겠다
pd.read_csv('data/numpy/ex2_전년대비_시도별_교통사망사고.csv', encoding='euc-kr', 
            skiprows=3, header = None).info()

In [ ]:
# usecols : 컬럼을 원하는것만 선택해서 들고올때 사용(컬럼인덱스 또는 컬럼명)
pd.read_csv('pandas/scientists_notindex.csv',usecols = ['Name', 'Occupation'])

In [ ]:
# encoding : 'euc-kr'  or  'cp949' 
pd.read_csv('data/numpy/ex1_지역별전기요금.csv', encoding='cp949')

In [ ]:
# parse_dates : 날짜 형태의 문자열 >> 날짜타입(datetime)으로 바꿔줌 (컬럼인덱스 또는 컬럼명)
pd.read_csv('pandas/scientists_notindex.csv',parse_dates = [1, 2]).info()

In [ ]:
# header, index, encoding
scientists.to_csv()

In [ ]:
scientists.index

In [ ]:
scientists.columns

In [ ]:
scientists

In [ ]:
scientists.index = range(1, 16,2)

In [ ]:
scientists

In [ ]:
scientists.columns = ['Name','Born','Died','Age','Occupation','Born_Dt','Died_Dt']

In [ ]:
scientists

In [ ]:
a = scientists.set_index('Name')

In [ ]:
a

In [ ]:
a.reset_index()

In [ ]:
import cx_Oracle as oci

dsn = oci.makedsn('localhost', '1521', 'xe')
conn = oci.connect('scott', 'tiger', dsn)

# cx_Oracle 라이브러리를 사용해서 파이썬으로 테이블 가져오기
cursor = conn.cursor()
cursor.execute('''select * from emp''')
data = cursor.fetchall()
#############################################################
# pandas를 사용해서 conn 정보를 이용해서 테이블 가져오기
emp = pd.read_sql('''select * from emp''', conn)
#############################################################

conn.close()

In [ ]:
import pymysql

conn = pymysql.connect(user = 'maria', 
                       password = '1234',
                       host = 'localhost',
                       port = 3306,
                       database = 'python_db')

# pymysql 라이브러리를 사용해서 파이썬으로 테이블 가져오기
cursor = conn.cursor()
cursor.execute('''select * from book_list''')
data = cursor.fetchall()
#############################################################
# pandas를 사용해서 conn 정보를 이용해서 테이블 가져오기
book_list = pd.read_sql('''select * from book_list''', conn)
#############################################################

conn.close()

In [ ]:
conn = pymysql.connect(user = 'maria', 
                       password = '1234',
                       host = 'localhost',
                       port = 3306,
                       database = 'python_db')

book_list.to_sql('bl2', conn)

conn.close()

In [ ]:
import sqlalchemy as sql
# url : 프로토콜://user:password@host:port/database(or service)
# 프로토콜 : 데이터베이스 종류
# 오라클 : oracle://scott:tiger@localhost:1521/xe
# 마리아 : mysql://maria:1234@localhost:3306/python_db
engine = sql.create_engine('mysql://maria:1234@localhost:3306/python_db')

In [ ]:
conn = engine.connect()
conn.close()

In [ ]:
pd.read_sql('''select * from bl2''', engine)

In [ ]:
book_list.to_sql('bl2', engine)

In [ ]:
book_list.shape

In [ ]:
book_list.head()