In [3]:
import pandas as pd

In [2]:
import cx_Oracle as oci

ModuleNotFoundError: No module named 'cx_Oracle'

In [ ]:
dsn = oci.makedsn('localhost', '1521', 'xe')
conn = oci.connect('scott', 'tiger', dsn)
emp = pd.read_sql('select * from emp', conn)
dept = pd.read_sql('select * from dept', conn)
conn.close()

In [4]:
import pymysql

In [5]:
conn = pymysql.connect(user = 'maria', 
                       password = '1234',
                       host = 'localhost',
                       port = 3306,
                       database = 'python_db')

# pandas를 사용해서 conn 정보를 이용해서 테이블 가져오기
book_list = pd.read_sql('''select * from book_list''', conn)
book_store = pd.read_sql('''select * from book_store''', conn)

C:\Users\KEI\AppData\Local\Temp\ipykernel_21832\1420227052.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  book_list = pd.read_sql('''select * from book_list''', conn)
C:\Users\KEI\AppData\Local\Temp\ipykernel_21832\1420227052.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  book_store = pd.read_sql('''select * from book_store''', conn)

In [ ]:
book_list.head()

In [ ]:
book_store.head()

In [6]:
book=book_list.merge(book_store, left_on='PUBLISHER', right_on='BSCODE')

In [ ]:
book.head()

In [ ]:
conn = pymysql.connect(user = 'maria', 
                       password = '1234',
                       host = 'localhost',
                       port = 3306,
                       database = 'python_db')

# pandas를 사용해서 conn 정보를 이용해서 테이블 가져오기
book2 = pd.read_sql('''select * from book_list''', conn)
book_store = pd.read_sql('''select * from book_store''', conn)
conn.close()

In [ ]:
import sqlalchemy as sql

In [ ]:
engine = sql.create_engine('oracle://scott:tiger@localhost:1521/xe')
conn = engine.connect()
book_list = pd.read_sql('select * from book_list', engine)
book_store = pd.read_sql('select * from book_store',engine)
conn.close()

In [ ]:
book_list.head()

In [ ]:
book.to_sql('book', engine, index=False, if_exists = 'append')

In [ ]:
import pymysql

conn = pymysql.connect(user='maria', password='1234',
                        host = 'localhost', port = 3306,
                        database = 'python_db')

book_list = pd.read_sql('''select * from book_list''', conn)
book_store = pd.read_sql('''select * from book_store''', conn)

conn.close()