In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
billboard=pd.read_csv('../data/billboard.csv')
billboard.info()

In [ ]:
billboard.head()

In [ ]:
b_long=billboard.melt(id_vars=['year','artist','track','time','date.entered'], var_name='week',value_name='rating')
b_long

In [ ]:
b_long[b_long['artist'].str.contains('2 Pac')]

In [ ]:
b_long_2Pac=b_long[b_long['artist']=='2 Pac'].dropna()
b_long_2Pac

In [ ]:
b_long.dropna()

In [ ]:
b_long.info()

In [ ]:
ebola=pd.read_csv('../data/country_timeseries.csv')
ebola.columns

In [ ]:
e_long=pd.melt(ebola, id_vars=['Date', 'Day'])
e_long

In [ ]:
e_long[e_long['variable'] == 'Cases_Guinea'][['Date','Day','value']].head()

In [ ]:
e_long[e_long['variable'] == 'Cases_Guinea'].head()

In [ ]:
e_long_mali=e_long[e_long['variable']=='Deaths_Liberia'].head()
e_long_mali

In [ ]:
ebola.dropna()

In [ ]:
ebola[['Date','Day','Cases_Guinea']]

In [ ]:
e_long.dropna()

In [ ]:
e_long['status']=e_long['variable'].apply(lambda x: x.split('_')[0])
e_long['country']=e_long['variable'].apply(lambda x: x.split('_')[1])
e_long

In [ ]:
e_long[['status2','country2']]=e_long['variable'].str.split('_', expand=True)
e_long.value.plot(kind='bar')

In [ ]:
pew=pd.read_csv('../data/pew.csv')
pew

In [ ]:
p_long=pew.melt(id_vars='religion', value_vars=['<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k',
       '$50-75k', '$75-100k', '$100-150k', '>150k'],value_name='count', var_name='money')
p_long

In [ ]:
p_long

In [ ]:
p_long.groupby('religion')['count'].sum().plot(kind='bar')

In [ ]:
e_long_0=e_long.pivot_table(index=['Date','Day','country'], columns='status', values='value')
e_long_0.loc[('1/3/2015',287)] # 멀티인덱싱에서는 앞에서부터 써야 함

In [ ]:
e_long_0.index

In [ ]:
e_long_p=e_long.pivot_table(index=['Date','Day','country'], columns='status', values='value').reset_index()
e_long_p

In [ ]:
e_long_p.groupby('country')['Cases'].sum().plot(kind='area')

In [ ]:
e_long_p.info()

In [ ]:
e_long_p=e_long.pivot_table(index=['Date','Day'], columns='status', values='value', aggfunc='median').reset_index()
e_long_p

In [ ]:
weather=pd.read_csv('../data/weather.csv')
weather.columns

In [ ]:
weather.head()

In [ ]:
w_long=weather.melt(id_vars=['id','year','month','element'], value_name='temp',var_name='day')
w_long.head()

In [ ]:
w_long['day']=w_long['day'].str.replace('d','').astype(int)
w_long

In [ ]:
weather_p=w_long.pivot_table(index=['id','year','month','day'], columns='element', values='temp')
weather_p.reset_index()

In [ ]:
pd.read_csv('../data/')

In [139]:
# 중복처리
billboard = pd.read_csv('../data/billboard.csv')
b_long = pd.melt(billboard, id_vars = ['year', 'artist', 'track', 'time', 'date.entered'],
var_name = 'week', value_name = 'rating')
b_long

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [136]:
songs = b_long[['year', 'artist', 'track', 'time', 'date.entered']]
songs

       year            artist                    track  time date.entered
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

[24092 rows x 5 columns]

In [137]:
songs.drop_duplicates()

     year            artist                    track  time date.entered
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3    2000      3 Doors Down                    Loser  4:24   2000-10-21
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
..    ...               ...                      ...   ...          ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
316  2000   matchbox twenty                     Bent  4:12   2000-04-29

[317 rows x 5 columns]

In [138]:
b_long.drop_duplicates(['year', 'artist', 'track', 'time', 'date.entered'])

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk1,86.0
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk1,85.0
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk1,95.0
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk1,99.0
316,2000,matchbox twenty,Bent,4:12,2000-04-29,wk1,60.0