### Step 1. 필요한 라이브러리 임포트

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import warnings

warnings.filterwarnings('ignore')
sns.set_palette('Paired')

plt.rcParams["figure.figsize"] = (6,3)
plt.rcParams['font.size'] = 12

from matplotlib import font_manager, rc
font = 'C:/Windows/Fonts/malgun.ttf'
font_name = font_manager.FontProperties(fname=font).get_name()
rc('font', family=font_name)

### Step 2. [데이터](https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv) 확인

- 행복랭킹
- 나라명
- 점수
- 상대GDP
- 사회적지원
- 행복기대치
- 선택의 자유도
- 관대함
- 부패에 대한인식
- 년도

### Step 3. read_csv를 통해 데이터를 올바른 형태로 불러온 뒤 bycle에 저장해주세요.
* data : happiness.csv
* encoding : cp949

In [4]:
bycle=pd.read_csv('../data/happiness.csv', encoding='cp949')
bycle.head(10)

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019

In [5]:
bycle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [6]:
bycle.describe()

,행복랭킹,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,311.000000,312.000000
mean,78.500000,5.391506,0.898298,1.211026,0.661295,0.423538,0.182926,0.111299,2018.500000
std,45.104737,1.114631,0.394592,0.300310,0.252724,0.156024,0.096739,0.095365,0.500803
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.000000
25%,39.750000,4.514250,0.609500,1.055750,0.488250,0.322500,0.108750,0.050000,2018.000000
50%,78.500000,5.379500,0.960000,1.265500,0.699000,0.449500,0.175500,0.082000,2018.500000
75%,117.250000,6.176000,1.219500,1.457500,0.858000,0.540250,0.245000,0.140500,2019.000000
max,156.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.598000,0.457000,2019.000000

### Step 4. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현합니다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 출력하세요.

In [7]:
bycle['년도'].unique()

array([2019, 2018], dtype=int64)

In [10]:
bycle[bycle['행복랭킹'] >=50].groupby('년도')['점수'].mean()

년도
2018    4.787439
2019    4.822748
Name: 점수, dtype: float64

In [12]:
bycle[bycle['나라명']=='Finland']

     행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0       1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
156     1  Finland  7.632  1.305  1.592  0.874    0.681  0.202     0.393  2018

### Step 5. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하세요.

In [13]:
bycle[(bycle['행복랭킹'] - bycle.drop_duplicates(['행복랭킹','나라명'])['행복랭킹']).isnull()]

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
159,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
163,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,2018
177,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142,2018
189,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457,2018
208,53,Latvia,5.933,1.148,1.454,0.671,0.363,0.092,0.066,2018
211,56,Jamaica,5.890,0.819,1.493,0.693,0.575,0.096,0.031,2018
215,60,Kazakhstan,5.790,1.143,1.516,0.631,0.454,0.148,0.121,2018
220,65,Peru,5.663,0.934,1.249,0.674,0.530,0.092,0.034,2018
231,76,Hong Kong,5.430,1.405,1.290,1.030,0.524,0.246,0.291,2018
278,123,Mozambique,4.417,0.198,0.902,0.173,0.531,0.206,0.158,2018
294,139,Togo,3.999,0.259,0.474,0.253,0.434,0.158,0.101,2018
298,143,Madagascar,3.774,0.262,0.908,0.402,0.221,0.155,0.049,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018

### Step 6. 각 년도별 행복랭킹의 하위 5개 국가의 평균 부패에 대한인식을 구하세요.

In [16]:
bycle.groupby('년도').tail().groupby('년도')['부패에 대한인식'].mean()

년도
2018    0.0762
2019    0.1418
Name: 부패에 대한인식, dtype: float64

### Step 7.  2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하세요.

In [8]:
happy18=bycle[bycle['년도']==2018]
happy19=bycle[bycle['년도']==2019]

### Step8. 각년도의 선택의 자유도을 내림차순 정렬했을때 상위 20개 국가의 선택의 자유도의 평균을 구하세요.

### Step 9. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하세요.

### Step 10. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

### Step 11. 2018년,2019년을 포함한 전체 데이터에서 행복지수에 가장 영향이 있다라고 생각하는 변수를 찾아보세요.

### Step 12. 2018년, 2019년 모두 기록이 있는 나라들 중 2018년보다 2019년의 행복지수가 증가했는지 확인해보세요.

In [17]:
bycle.corr(numeric_only=True)

,행복랭킹,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
행복랭킹,1.000000e+00,-0.990325,-0.803757,-0.752372,-0.757395,-0.526428,-0.076233,-0.361535,1.380668e-13
점수,-9.903250e-01,1.000000,0.797977,0.761080,0.755875,0.539897,0.106645,0.395319,1.400893e-02
상대GDP,-8.037573e-01,0.797977,1.000000,0.713293,0.816590,0.342953,-0.044788,0.308598,1.738595e-02
사회적지원,-7.523724e-01,0.761080,0.713293,1.000000,0.668207,0.420206,-0.014367,0.200387,-7.376014e-03
행복기대치,-7.573946e-01,0.755875,0.816590,0.668207,1.000000,0.301488,0.001476,0.293732,2.534442e-01
선택의 자유도,-5.264284e-01,0.539897,0.342953,0.420206,0.301488,1.000000,0.274993,0.443004,-1.988010e-01
관대함,-7.623314e-02,0.106645,-0.044788,-0.014367,0.001476,0.274993,1.000000,0.344607,1.987775e-02
부패에 대한인식,-3.615352e-01,0.395319,0.308598,0.200387,0.293732,0.443004,0.344607,1.000000,-7.338544e-03
년도,1.380668e-13,0.014009,0.017386,-0.007376,0.253444,-0.198801,0.019878,-0.007339,1.000000e+00