### Step 1. 필요한 라이브러리 임포트

In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import warnings

import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (7,5)
plt.rcParams['font.size'] = 12

warnings.filterwarnings('ignore')
sns.set_palette('gist_heat')

### Step 2. [데이터](https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv) 확인

- 대여일자
- 대여시간
- 대여소번호
- 대여구분코드
- 성별
- 연령대코드
- 이용건수
- 운동량
- 탄소량
- 이동거리
- 사용시간

### Step 3. read_csv를 통해 데이터를 올바른 형태로 불러온 뒤 bycle에 저장해주세요.
* data : seoul_bi.csv
* encoding : cp949
* 대여일자를 datetime으로 설정해주세요.

In [11]:
bycle=pd.read_csv('../data/seoul_bi.csv', encoding='cp949', parse_dates=['대여일자'] )
bycle.head(10)

        대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0 2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1 2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2 2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3 2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4 2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6
5 2021-06-01     0    237    정기권  F  ~10대     1  40.79  0.48  2060.00    11
6 2021-06-01     0    953    정기권  F   20대     1   0.00  0.00     0.00    11
7 2021-06-01     0   1029    정기권  F   20대     1  37.84  0.34  1470.00     7
8 2021-06-01     0   1153    정기권  F   20대     1  31.17  0.35  1513.53    10
9 2021-06-01     0   1653    정기권  F   20대     1   8.00  0.10   430.00     3

In [12]:
bycle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여일자    678950 non-null  datetime64[ns]
 1   대여시간    678950 non-null  int64
 2   대여소번호   678950 non-null  int64
 3   대여구분코드  678950 non-null  object
 4   성별      678950 non-null  object
 5   연령대코드   678950 non-null  object
 6   이용건수    678950 non-null  int64
 7   운동량     678950 non-null  object
 8   탄소량     678950 non-null  object
 9   이동거리    678950 non-null  float64
 10  사용시간    678950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 57.0+ MB

In [13]:
bycle.describe()

,대여일자,대여시간,대여소번호,이용건수,이동거리,사용시간
count,678950,678950.000000,678950.000000,678950.000000,678950.000000,678950.000000
mean,2021-06-07 14:11:55.662714624,14.437701,1660.777129,1.101211,3315.608305,28.109300
min,2021-06-01 00:00:00,0.000000,3.000000,1.000000,0.000000,0.000000
25%,2021-06-04 00:00:00,10.000000,646.000000,1.000000,937.190000,8.000000
50%,2021-06-08 00:00:00,16.000000,1337.000000,1.000000,1885.735000,16.000000
75%,2021-06-11 00:00:00,19.000000,2361.000000,1.000000,3986.280000,37.000000
max,2021-06-14 00:00:00,23.000000,99997.000000,11.000000,297692.650000,1327.000000
std,NaN,5.617974,1251.498718,0.366669,4134.427164,31.399754

### Step 4. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜순으로 정렬하세요.

In [19]:
bycle.groupby('대여일자').size().sort_values(ascending=False)

대여일자
2021-06-04    56788
2021-06-02    56100
2021-06-08    55623
2021-06-14    54945
2021-06-09    54507
2021-06-05    52730
2021-06-07    52623
2021-06-11    52089
2021-06-12    48569
2021-06-01    48081
2021-06-06    47787
2021-06-13    43131
2021-06-10    36992
2021-06-03    18985
dtype: int64

### Step 5. 각 일자의 요일을 dt 접근자의 day_name() 함수를 사용하여 '요일' 컬럼에 추가하고 각 요일별 이용 횟수의 총합을 출력하세요.

In [29]:
bycle['요일']= bycle['대여일자'].dt.day_name()
print(bycle['요일'].value_counts())

요일
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977
Name: count, dtype: int64

### Step 6. 각 요일별 가장 많이 이용한 대여소번호를 찾고 사용횟수를 출력하세요.

In [39]:
bycle.groupby('요일')['대여소번호'].value_counts() # 대여소번호

요일         대여소번호
Friday     502      277
           2715     263
           1210     251
           207      238
           2102     229
                   ...
Wednesday  4314       1
           2536       1
           2534       1
           381        1
           2288       1
Name: count, Length: 16874, dtype: int64

### Step 7.  나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하세요. 
**일일권의 경우 '일일권' 과 '일일권(비회원)'을 모두 포함하세요.**

In [74]:
bycle2=bycle[(bycle['대여구분코드'] == '일일권') | (bycle['대여구분코드'] == '일일권(비회원)')]
p_bycle=bycle['대여구분코드'].value_counts()

In [75]:
cr=pd.crosstab(bycle2['연령대코드'], bycle2['대여구분코드'])

### Step8. 연령대별 평균 이동거리를 구하세요.

In [78]:
bycle.groupby('연령대코드')['이동거리'].mean()

연령대코드
20대     3211.890552
30대     3341.443859
40대     3514.857416
50대     3593.668100
60대     3538.145737
70대~    3085.039641
~10대    2634.426279
Name: 이동거리, dtype: float64

### Step 9. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터의 탄소량 평균을 추출하세요.

In [89]:
bycle_20=bycle[bycle['연령대코드']=='20대']
bycle_20_1=bycle[bycle['이동거리'] >= bycle_20['이동거리'].mean()]
bycle_20_1_mean= bycle_20_1['탄소량']   # mean()

### Step 10. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하세요.

In [105]:
bycle['시간']= bycle['대여일자'].dt.hour
bycle['시간'].values

array([0, 0, 0, ..., 0, 0, 0])

In [109]:
bycle_h=bycle[(bycle['요일'] != 'Saturday') | (bycle['요일'] != 'Sunday')]

In [131]:
bycle_c=bycle_h[(bycle_h['대여시간'] == 6) |  (bycle_h['대여시간'] == 7) | (bycle_h['대여시간'] == 8)]
bycle_c.groupby('bycle_h').size.sort_values(bycle_c['대여소번호'].value_counts())

대여소번호
259     210
2701    200
247     188
2744    187
726     186
       ...
2352      1
3620      1
2722      1
2308      1
2805      1
Name: count, Length: 2392, dtype: int64

### Step 11. 성별(남 : 'M' or 'm' / 여 : 'F' or 'f')에 따른 사용시간별 운동량의 평균값을 계산하세요.

In [132]:
bycle_m=bycle[(bycle['성별']=='M') | (bycle['성별']=='m')]
bycle_f=bycle[(bycle['성별']=='F') | (bycle['성별']=='f')]
bycle_m('')

### Step 12. 대여구분코드를 (정기권/일일권) 두 집단으로 만든뒤(단체권은 일일권으로 한다) 대여구분코드 종류에 따라서 이용시간이 차이가 있는지 확인하세요.