In [1]:
import pandas as pd

In [3]:
s=pd.Series(['babana',42])
s

0    babana
1        42
dtype: object

In [4]:
s=pd.Series(data=['oh jaesun','sonia oh'], index=['Person','Who'])
s

Person    oh jaesun
Who        sonia oh
dtype: object

In [8]:
Scientists=pd.DataFrame(
    data={
    'occupation':["Chemist","Statistician"],
    'Born':["1920-07-25","1876-06-13"],
    'Died':["1958-04-16","1937-10-16"],
    'Age':[37,61]
},
    index=["Rosaline","William"],
    columns=["occupation","Born","Died","Age"]
)
print(Scientists)

            occupation        Born        Died  Age
Rosaline       Chemist  1920-07-25  1958-04-16   37
William   Statistician  1876-06-13  1937-10-16   61

In [22]:
first_row=Scientists.loc['William']
type(first_row)

pandas.core.series.Series

In [31]:
print(first_row.index)

Index(['occupation', 'Born', 'Died', 'Age'], dtype='object')

In [33]:
print(Scientists.index[0])

Rosaline

In [34]:
print(Scientists.keys()[0])

occupation

In [39]:
ages=Scientists['Age']

In [40]:
ages.mean()

49.0

In [42]:
ages.max()

61

In [43]:
ages.min()

37

In [44]:
ages.std()

16.97056274847714

In [48]:
scientists=pd.read_csv('../data/scientists.csv')
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 452.0+ bytes

In [50]:
ages=scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [51]:
ages.describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [52]:
ages.mean()

59.125

In [53]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [54]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [55]:
bool_values=[True,True,False,True,False,True,False,False]
ages[bool_values]

0    37
1    61
3    66
5    45
Name: Age, dtype: int64

In [60]:
print(ages*10)

0    370
1    610
2    900
3    660
4    560
5    450
6    410
7    770
Name: Age, dtype: int64

In [62]:
print(ages+ pd.Series([1,10]))

0    38.0
1    71.0
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [63]:
rev_ages=ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64