### 빅데이터 분석기사 시험문제

In [1]:
import pandas as pd
import numpy as np

### 1번 문제) 
첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼의 결측치를 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼의 결측치를 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오. (소수점 첫째자리)

In [ ]:
## 1번 문제 -쌤
# 순서대로 50% 1,2그룹으로 나눔
# A그룹은 누락값을 중앙값으로 f1컬럼대상  B그룹 누락값을 최대값으로f1컬럼대상
# A,B의 표준편차

In [2]:
df=pd.read_csv('../data/basic1.csv')

In [ ]:
# 순서대로 50% 1,2그룹으로 나눔
A=df.iloc[:50]
B=df.iloc[50:]
print(A.shape, B.shape)

In [ ]:
# A그룹은 누락값을 중앙값으로 f1컬럼대상
# B그룹 누락값을 최대값으로 f1컬럼대상
A_median=A['f1'].median()
B_max=B['f1'].max()

A_fill=A['f1'].fillna(A_median)
B_fill=B['f1'].fillna(B_max)
print(A_fill.count(), B_fill.count())

In [ ]:
# A,B의 표준편차의 합
std_sum = A_fill.std() + B_fill.std()
round(std_sum, 1)

In [ ]:
## 한줄로 식만들기 round(A['f'].A_fill.std()+B_fill.std(),1))

### 2번문제 --쌤
 'f4'컬럼 기준 내림차순 정렬과 'f5'컬럼 기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값을 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함. (단 소수점 둘째자리까지 출력(셋째자리에서 반올림))

In [ ]:
# 1. 'f4' 컬럼기준 내림차순 정렬 'f5'기준 올림차순
# 2. 앞에서부터 10개 데이터 중 'f5'컬럼 의 최소값
# 3. 앞에서부터 10개의 'f5'컬럼 데이터 변경
# 4. 'f5' 컬럼의 평균값(소수점 둘째)

In [ ]:
# 1
sorted_df=df.sort_values(['f4','f5'],ascending=[False,True])  
#두 컬럼값을 다르게 sort하기
#참고: 값 원본에 저장하기 ---copy(): 참조형 데이커를 복사하는 함수, 같은 값을갖는 변수가 됨
# df를 복사하는 방법
sorted_df2 = sorted_df.copy()

In [ ]:
# 2 
sorted_df['f5'].iloc[10]
sorted_df.iloc[:10]['f5']

 ## 추천/ 이것만 다음 단계에서 작업 가능/ 특정위치에 값 넣으려면 iloc만 사용하는것 권유
sorted_df.iloc[:10, -1]  # 이거 사용

sorted_df.head(10)['f5']

In [ ]:
# 2-1 값 바꾸기 --참조형 데이터
min_value=sorted_df2.iloc[:10, -1].min()
sorted_df2.iloc[:10, -1]=min_value

In [ ]:
# 3
round(sorted_df2['f5'].mean(),2)