In [1]:
import pandas as pd

In [3]:
import cx_Oracle as oci

In [ ]:
dsn = oci.makedsn('localhost', '1521', 'xe')
conn = oci.connect('scott', 'tiger', dsn)
emp = pd.read_sql('select * from emp', conn)
dept = pd.read_sql('select * from dept', conn)
conn.close()

In [5]:
import pymysql

In [22]:
conn = pymysql.connect(user = 'maria', 
                       password = '1234',
                       host = 'localhost',
                       port = 3306,
                       database = 'python_db')

# pandas를 사용해서 conn 정보를 이용해서 테이블 가져오기
book_list = pd.read_sql('''select * from book_list''', conn)
book_store = pd.read_sql('''select * from book_store''', conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_9220\1420227052.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  book_list = pd.read_sql('''select * from book_list''', conn)
C:\Users\admin\AppData\Local\Temp\ipykernel_9220\1420227052.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  book_store = pd.read_sql('''select * from book_store''', conn)

In [9]:
book_list.head()

   BCODE                 TITLE AUTHOR       YEAR  PUBLISHER  PRICE
0      1       Do it! 점프 투 파이썬    박응용  2019년 06월          1  16920
1      2           혼자 공부하는 파이썬    윤인성  2022년 06월          2  19800
2      3              두근두근 파이썬    천인국  2023년 01월          3  25000
3      4      혼자 공부하는 머신러닝+딥러닝    박해선  2020년 12월          2  23400
4      5  코딩 자율학습 나도코딩의 파이썬 입문   나도코딩  2023년 02월          4  21600

In [10]:
book_store.head()

   BSCODE     NAME           TEL COUNTRY      CITY
0       1  이지스퍼블리싱   02-325-1722    대한민국   서울시 마포구
1       2    한빛미디어   02-325-0384    대한민국  서울시 서대문구
2       3    생능출판사  031-955-0761    대한민국    경기도 파주
3       4       길벗          None    대한민국   서울시 마포구
4       5   한빛아카데미   02-336-7112    대한민국  서울시 서대문구

In [11]:
book=book_list.merge(book_store, left_on='PUBLISHER', right_on='BSCODE')

In [13]:
book.head()

,BCODE,TITLE,AUTHOR,YEAR,PUBLISHER,PRICE,BSCODE,NAME,TEL,COUNTRY,CITY
0,1,Do it! 점프 투 파이썬,박응용,2019년 06월,1,16920,1,이지스퍼블리싱,02-325-1722,대한민국,서울시 마포구
1,19,Do it! 자료구조와 함께 배우는 알고리즘 입문 : 파이썬 편,시바타 보요,2020년 07월,1,19800,1,이지스퍼블리싱,02-325-1722,대한민국,서울시 마포구
2,2,혼자 공부하는 파이썬,윤인성,2022년 06월,2,19800,2,한빛미디어,02-325-0384,대한민국,서울시 서대문구
3,4,혼자 공부하는 머신러닝+딥러닝,박해선,2020년 12월,2,23400,2,한빛미디어,02-325-0384,대한민국,서울시 서대문구
4,14,혼자 공부하는 데이터 분석 with 파이썬,박해선,2023년 01월,2,23400,2,한빛미디어,02-325-0384,대한민국,서울시 서대문구

In [ ]:
conn = pymysql.connect(user = 'maria', 
                       password = '1234',
                       host = 'localhost',
                       port = 3306,
                       database = 'python_db')

# pandas를 사용해서 conn 정보를 이용해서 테이블 가져오기
book2 = pd.read_sql('''select * from book_list''', conn)
book_store = pd.read_sql('''select * from book_store''', conn)
conn.close()

In [14]:
import sqlalchemy as sql

In [33]:
engine = sql.create_engine('oracle://scott:tiger@localhost:1521/xe')
conn = engine.connect()
book_list = pd.read_sql('select * from book_list', engine)
book_store = pd.read_sql('select * from book_store',engine)
conn.close()

In [23]:
book_list.head()

   BCODE                 TITLE AUTHOR       YEAR  PUBLISHER  PRICE
0      1       Do it! 점프 투 파이썬    박응용  2019년 06월          1  16920
1      2           혼자 공부하는 파이썬    윤인성  2022년 06월          2  19800
2      3              두근두근 파이썬    천인국  2023년 01월          3  25000
3      4      혼자 공부하는 머신러닝+딥러닝    박해선  2020년 12월          2  23400
4      5  코딩 자율학습 나도코딩의 파이썬 입문   나도코딩  2023년 02월          4  21600

In [31]:
book.to_sql('book', engine, index=False, if_exists = 'append')

24

In [ ]:
engine = sql.create_engine('mysql:/maria:1234@localhost:3306/xe')
conn = engine.connect()
book_list = pd.read_sql('select * from book_list', engine)
book_store = pd.read_sql('select * from book_store',engine)