In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('data/gapminder.tsv', encoding='euc-kr', sep='\t')
df

In [ ]:
# 검토하기

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.index

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
# 활용하기

In [33]:
country_df=df['country']
country_df

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [37]:
subset=df[['country','continent','year']]
subset

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]