In [3]:
import pandas as pd

In [12]:
df=pd.read_csv('data/ex1_지역별전기요금.csv', encoding='euc-kr', skiprows=3)
df.head(None)
df.columns=['지역번호','가구수','전력량','전기요금']
df

    지역번호      가구수  전력량   전기요금
0      2  2827233  444  45111
1      3  1144913  289  29043
2      4  1131034  230  22436
3      5   380425  391  38020
4      6   668623  364  35245
5      7   425659  344  32331
6      8   947300  366  36274
7      9  2737725  361  36569
8     10    49394  580  57091
9     11   323151  353  35470
10    12   734723  398  40049
11    13   726699  249  25120
12    14   634696  285  28556
13    15   258605  221  22180
14    16   742285  282  27901
15    17   584500  268  26899

In [17]:
df_1=df['가구수']
df_1

0     2827233
1     1144913
2     1131034
3      380425
4      668623
5      425659
6      947300
7     2737725
8       49394
9      323151
10     734723
11     726699
12     634696
13     258605
14     742285
15     584500
Name: 가구수, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역번호    16 non-null     int64
 1   가구수     16 non-null     int64
 2   전력량     16 non-null     int64
 3   전기요금    16 non-null     int64
dtypes: int64(4)
memory usage: 644.0 bytes

In [19]:
df.shape

(16, 4)