## 모의고사 3회

### (작업형1)

#### 1. Rabbit 데이터셋을 불러와 Dose 컬럼의 제 3사분위수와 제 2사분위수를 구하고 두 값의 차이의 절댓값을 구한 후 소수점을 버린 값을 출력하여라.

In [1]:
#### 모의고사 03회 01 Solution
import pandas as pd
exam1 = pd.read_csv('data/모의고사/03회/Rabbit.csv')

##### 제 3사분위수, 제 2사분위수 별도 저장
q3 = exam1['Dose'].quantile(.75)
q2 = exam1['Dose'].median()

##### 두 값의 차이의 절댓값
diff = abs(q3 - q2)

##### 결과를 result에 할당
result = diff.astype('int64')

##### 결과 출력
print(result)

62

---

#### 2. Boston 데이터셋을 불러와 medv 컬럼에 대해서 동일한 폭으로 binning한 후 가장 많은 빈도를 가지는 구간을 산출하고 해당 구간 내 dis 컬럼의 중앙값을 구하여라. (폭은 10을 기준으로 하고 소수점은 둘째 자리까지 나타내시오)

In [2]:
#### 모의고사 03회 02 Solution
import pandas as pd
exam3 = pd.read_csv('data/모의고사/03회/Boston.csv')

##### medv 컬럼에 대해서 동일한 폭으로 binning
medv_cut = pd.cut(exam3['medv'], bins = [0, 10, 20, 30, 40, 50])

#### 가장 많은 빈도를 가지는 구간을 산출
mode = medv_cut.value_counts().idxmax()

#### 해당구간 내 dis 컬럼의 중앙값
# 조건 
cond = (medv_cut == mode)

# 중앙값
median = exam3['dis'][cond].median()

##### 결과를 result에 할당
result = round(median, 2)

##### 결과 출력
print(result)

3.95

---

#### 3. Melanoma 데이터셋을 불러와 1번째-123번째 레코드와 123번째 이후 레코드로 데이터셋을 분리하고 각 데이터셋별로 thickness 컬럼을 z-score 정규화로 변환한 후 –1과 1 사이 값들의 중앙값을 각각 산출한 후 합계를 구하여라.(단, z-score 정규화 변환 계산에 사용되는 평균과 표준편차는 분리된 것과 관계 없이 1번째~123번째 레코드로 이루어진 데이터셋을 기준으로 하고 출력시 소수점 넷째 자리까지 반올림하여 나타낼 것, 레코드 번호는 가장 위에 위치한 레코드를 1번으로 가정함)

In [3]:
#### 모의고사 03회차 03 Solution
import pandas as pd
exam3 = pd.read_csv('data/모의고사/03회/Melanoma.csv')

##### 1번째 ~ 123번째 레코드와 123번째 이후 레코드로 데이터셋을 분리
df1 = exam3.iloc[:123]
df2 = exam3.iloc[123:]

##### thickness 컬럼을 z-score 정규화로 변환
# 1번째~123번째 레코드로 이루어진 데이터셋의 thickness 평균
avg = df1['thickness'].mean()

# 1번째~123번째 레코드로 이루어진 데이터셋의 thickness 표준편차
sd = df1['thickness'].std()

# z-score 변환
std1 = (df1['thickness'] - avg)/sd
std2 = (df2['thickness'] - avg)/sd

##### –1과 1 사이 값들의 중앙값을 각각 산출
# -1과 1사이 값
sub_std1 = std1[(std1 > -1) & (std1 < 1)]
sub_std2 = std2[(std2 > -1) & (std2 < 1)]

# 중앙값
med1 = sub_std1.median()
med2 = sub_std2.median()

##### 결과를 result에 할당
result = round(med1 + med2, 4)

##### 결과 출력
print(result)

-1.0027

In [22]:
# 데이터 분리된 것 확인하는 코드, 실제 시험에서는 실행 안 되게 해야함
print(df1), print(df2)

     time  status  sex  age  year  thickness  ulcer
0      10       3    1   76  1972       6.76      1
1      30       3    1   56  1968       0.65      0
2      35       2    1   41  1977       1.34      0
3      99       3    0   71  1968       2.90      0
4     185       1    1   52  1965      12.08      1
..    ...     ...  ...  ...   ...        ...    ...
118  2112       2    0   54  1972       1.94      1
119  2150       2    0   33  1972       0.65      0
120  2156       2    0   45  1972       0.97      0
121  2165       2    1   62  1972       5.64      0
122  2209       2    0   72  1971       9.66      0

[123 rows x 7 columns]
     time  status  sex  age  year  thickness  ulcer
123  2227       2    0   51  1971       0.10      0
124  2227       2    1   77  1971       5.48      1
125  2256       1    0   43  1971       2.26      1
126  2264       2    0   65  1971       4.83      1
127  2339       2    0   63  1971       0.97      0
..    ...     ...  ...  ...   ...        ...    ...
200  4492       2    1   29  1965       7.06      1
201  4668       2    0   40  1965       6.12      0
202  4688       2    0   42  1965       0.48      0
203  4926       2    0   50  1964       2.26      0
204  5565       2    0   41  1962       2.90      0

[82 rows x 7 columns]

(None, None)

---

### (작업형2)

### 1. 아래는 호주의 기상 관측소들의 일자별 기상 정보와 강수 여부에 관련한 데이터의 일부이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [5]:
#### 모의고사 03회차_작업형2 Solution

##### STEP1. 데이터셋 불러오기
import pandas as pd
X_train = pd.read_csv('data/모의고사/03회/weatherAUS_X_train.csv')
X_test = pd.read_csv('data/모의고사/03회/weatherAUS_X_test.csv')
y_train = pd.read_csv('data/모의고사/03회/weatherAUS_y_train.csv')

In [6]:
##### STEP2. 데이터셋 확인하기
###### STEP2-1. 데이터셋 일부 확인
print(X_train.head())
print(X_test.head())
print(y_train.head())

         Date Location  MinTemp  MaxTemp  Rainfall WindGustDir  WindGustSpeed  \
0  2016-01-01   Albury     20.4     37.6       0.0         ENE           54.0
1  2016-01-02   Albury     20.9     33.6       0.4         SSE           50.0
2  2016-01-03   Albury     18.4     23.1       2.2         ENE           48.0
3  2016-01-04   Albury     17.3     23.7      15.6         SSE           39.0
4  2016-01-05   Albury     15.5     22.9       6.8         ENE           31.0

  WindDir9am WindDir3pm  WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  \
0        NaN        ESE           0.0           7.0         46.0         17.0
1        SSE         SE           9.0          17.0         54.0         30.0
2        ESE        ENE          11.0          39.0         62.0         67.0
3         SE        SSE           9.0          17.0         74.0         65.0
4         SE        SSE           6.0           9.0         92.0         63.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday
0       1013.4       1009.2       7.0       3.0     26.1     36.7        No
1       1011.1       1008.4       8.0       8.0     24.8     31.7        No
2       1014.0       1014.8       8.0       8.0     21.8     19.5       Yes
3       1017.9       1016.5       8.0       8.0     19.2     21.6       Yes
4       1016.3       1013.9       8.0       8.0     17.2     22.2       Yes
         Date Location  MinTemp  MaxTemp  Rainfall WindGustDir  WindGustSpeed  \
0  2016-09-01   Albury      8.5     16.7       0.4         NNE           17.0
1  2016-09-02   Albury      6.1     13.9       0.2         SSE           37.0
2  2016-09-03   Albury      9.6     16.6      33.6         WNW           48.0
3  2016-09-04   Albury      7.7     15.1       0.6          NW           26.0
4  2016-09-05   Albury      4.4     15.9       0.0           W           24.0

  WindDir9am WindDir3pm  WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  \
0        NaN         NW           0.0          11.0         96.0         65.0
1          S          E           6.0           7.0         87.0         76.0
2          W          W          15.0          31.0         90.0         60.0
3        WSW        WNW          20.0          13.0         82.0         66.0
4        ESE        WSW           4.0          13.0         93.0         63.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday
0       1020.0       1016.1       8.0       7.0     12.3     15.8        No
1       1012.1       1005.6       NaN       8.0     10.1     13.5        No
2       1003.4       1008.8       6.0       1.0     11.4     15.1       Yes
3       1023.7       1025.4       8.0       7.0     10.8     14.0        No
4       1031.3       1029.1       8.0       7.0     10.4     14.7        No
         Date RainTomorrow
0  2016-01-01           No
1  2016-01-02          Yes
2  2016-01-03          Yes
3  2016-01-04          Yes
4  2016-01-05           No

In [7]:
###### STEP2-2. 데이터셋 요약 정보 확인
print(X_train.info())
print(X_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11714 entries, 0 to 11713
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           11714 non-null  object
 1   Location       11714 non-null  object
 2   MinTemp        11658 non-null  float64
 3   MaxTemp        11662 non-null  float64
 4   Rainfall       11630 non-null  float64
 5   WindGustDir    11073 non-null  object
 6   WindGustSpeed  11073 non-null  float64
 7   WindDir9am     10873 non-null  object
 8   WindDir3pm     11127 non-null  object
 9   WindSpeed9am   11633 non-null  float64
 10  WindSpeed3pm   11178 non-null  float64
 11  Humidity9am    11650 non-null  float64
 12  Humidity3pm    10970 non-null  float64
 13  Pressure9am    10503 non-null  float64
 14  Pressure3pm    10499 non-null  float64
 15  Cloud9am       6937 non-null   float64
 16  Cloud3pm       6115 non-null   float64
 17  Temp9am        11674 non-null  float64
 18  Temp3pm        10987 non-null  float64
 19  RainToday      11630 non-null  object
dtypes: float64(14), object(6)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5794 entries, 0 to 5793
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           5794 non-null   object
 1   Location       5794 non-null   object
 2   MinTemp        5774 non-null   float64
 3   MaxTemp        5782 non-null   float64
 4   Rainfall       5711 non-null   float64
 5   WindGustDir    5447 non-null   object
 6   WindGustSpeed  5447 non-null   float64
 7   WindDir9am     5645 non-null   object
 8   WindDir3pm     5534 non-null   object
 9   WindSpeed9am   5773 non-null   float64
 10  WindSpeed3pm   5546 non-null   float64
 11  Humidity9am    5678 non-null   float64
 12  Humidity3pm    5345 non-null   float64
 13  Pressure9am    5189 non-null   float64
 14  Pressure3pm    5188 non-null   float64
 15  Cloud9am       3228 non-null   float64
 16  Cloud3pm       2719 non-null   float64
 17  Temp9am        5777 non-null   float64
 18  Temp3pm        5439 non-null   float64
 19  RainToday      5711 non-null   object
dtypes: float64(14), object(6)
memory usage: 905.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11714 entries, 0 to 11713
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          11714 non-null  object
 1   RainTomorrow  11714 non-null  object
dtypes: object(2)
memory usage: 183.2+ KB
None

In [8]:
###### STEP2-3. 기초통계량 확인
print(X_train.describe())
print(X_test.describe())
print(y_train.describe())

            MinTemp       MaxTemp      Rainfall  WindGustSpeed  WindSpeed9am  \
count  11658.000000  11662.000000  11630.000000   11073.000000  11633.000000
mean      12.530057     23.049974      2.546174      38.853698     13.453537
std        6.551759      7.531580      9.042366      13.732184      8.696536
min       -7.800000     -4.800000      0.000000       7.000000      0.000000
25%        7.800000     17.200000      0.000000      30.000000      7.000000
50%       12.400000     22.600000      0.000000      37.000000     13.000000
75%       17.400000     28.400000      1.000000      46.000000     19.000000
max       29.200000     45.100000    225.000000     120.000000     74.000000

       WindSpeed3pm   Humidity9am   Humidity3pm   Pressure9am   Pressure3pm  \
count  11178.000000  11650.000000  10970.000000  10503.000000  10499.000000
mean      17.971014     72.096996     53.495351   1017.787594   1015.341823
std        8.468756     18.115875     20.736367      6.923373      6.831690
min        0.000000     10.000000      4.000000    982.200000    977.100000
25%       11.000000     61.000000     39.000000   1013.500000   1010.900000
50%       17.000000     74.000000     54.000000   1018.000000   1015.600000
75%       22.000000     86.000000     67.750000   1022.100000   1019.800000
max       63.000000    100.000000    100.000000   1040.300000   1036.400000

          Cloud9am     Cloud3pm       Temp9am       Temp3pm
count  6937.000000  6115.000000  11674.000000  10987.000000
mean      4.931527     5.018152     16.803135     21.444644
std       2.890257     2.711604      6.762189      7.324353
min       0.000000     0.000000     -7.200000     -5.400000
25%       2.000000     2.000000     11.600000     15.900000
50%       6.000000     6.000000     16.500000     21.000000
75%       8.000000     7.000000     21.700000     26.600000
max       8.000000     8.000000     36.500000     43.500000
           MinTemp      MaxTemp     Rainfall  WindGustSpeed  WindSpeed9am  \
count  5774.000000  5782.000000  5711.000000    5447.000000   5773.000000
mean     12.397194    23.971688     2.021100      42.980540     15.543218
std       6.057115     6.990447     5.992186      13.479326      8.732675
min      -4.800000     1.100000     0.000000      13.000000      0.000000
25%       7.900000    18.600000     0.000000      33.000000      9.000000
50%      11.700000    23.200000     0.000000      41.000000     15.000000
75%      16.500000    29.100000     0.800000      50.000000     20.000000
max      28.900000    42.900000    85.000000     113.000000     65.000000

       WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  \
count   5546.000000  5678.000000  5345.000000  5189.000000  5188.000000
mean      20.344933    63.949454    49.681572  1014.564232  1012.157132
std        8.764972    18.315154    20.524905     6.688959     6.537446
min        0.000000     4.000000     3.000000   982.000000   981.900000
25%       13.500000    53.000000    35.000000  1011.000000  1008.100000
50%       19.000000    65.000000    50.000000  1014.600000  1012.000000
75%       26.000000    76.000000    63.000000  1019.000000  1016.600000
max       65.000000   100.000000   100.000000  1033.000000  1030.300000

          Cloud9am     Cloud3pm      Temp9am      Temp3pm
count  3228.000000  2719.000000  5777.000000  5439.000000
mean      4.965923     4.967635    17.954613    21.976429
std       2.875166     2.789602     6.205495     6.713617
min       0.000000     0.000000    -3.600000     0.600000
25%       2.000000     2.000000    13.200000    16.900000
50%       6.000000     6.000000    17.300000    21.400000
75%       8.000000     8.000000    22.100000    26.700000
max       8.000000     8.000000    36.200000    42.000000
              Date RainTomorrow
count        11714        11714
unique         244            2
top     2016-05-02           No
freq            49         8882

In [9]:
##### STEP3. 데이터셋 전처리
###### STEP3-1. 불필요한 컬럼 삭제
# Date 컬럼은 관측일자로 key 역할로 모델에는 불필요함
# 결과 제출 시에는 X_test의 Date 컬럼이 필요하기 때문에 별도 저장
Date = X_test['Date'].copy()

# 데이터들에서 Date 컬럼 삭제
X_train = X_train.drop(columns = 'Date')
X_test = X_test.drop(columns = 'Date')
y_train = y_train.drop(columns = 'Date')

In [10]:
###### STEP3-2. 결측치 처리
# 결측치 확인
X_train.isna().sum()

Location            0
MinTemp            56
MaxTemp            52
Rainfall           84
WindGustDir       641
WindGustSpeed     641
WindDir9am        841
WindDir3pm        587
WindSpeed9am       81
WindSpeed3pm      536
Humidity9am        64
Humidity3pm       744
Pressure9am      1211
Pressure3pm      1215
Cloud9am         4777
Cloud3pm         5599
Temp9am            40
Temp3pm           727
RainToday          84
dtype: int64

In [11]:
X_test.isna().sum()

Location            0
MinTemp            20
MaxTemp            12
Rainfall           83
WindGustDir       347
WindGustSpeed     347
WindDir9am        149
WindDir3pm        260
WindSpeed9am       21
WindSpeed3pm      248
Humidity9am       116
Humidity3pm       449
Pressure9am       605
Pressure3pm       606
Cloud9am         2566
Cloud3pm         3075
Temp9am            17
Temp3pm           355
RainToday          83
dtype: int64

In [12]:
####### train에서 500개가 넘는 결측치가 있는 컬럼은 삭제
# 결측치가 500개가 넘는 조건
cond_na500 = (X_train.isna().sum() >= 500)

# 500개가 넘는 컬럼명
col_na500 = X_train.columns[cond_na500]

# 컬럼 삭제
X_train = X_train.drop(col_na500, axis = 1)
X_test = X_test.drop(col_na500, axis = 1)

In [13]:
###### train에서 100개 미만의 결측치가 있는 컬럼은 결측치 대체
# 결측치가 100개 미만인 조건
X_train.isna().sum() < 100

Location        True
MinTemp         True
MaxTemp         True
Rainfall        True
WindSpeed9am    True
Humidity9am     True
Temp9am         True
RainToday       True
dtype: bool

In [14]:
######## 수치형인 MinTemp, MaxTemp, Rainfall, WindSpeed9am, Humidity9am, Temp9am은 평균 대체
# 수치형만 있는 데이터프레임 추출
X_train_conti = X_train.select_dtypes(exclude = 'object').copy()
X_test_conti = X_test.select_dtypes(exclude = 'object').copy()

# 평균대치
X_train_conti = X_train_conti.fillna(X_train_conti.mean())
X_test_conti = X_test_conti.fillna(X_train_conti.mean())

######## 카테고리형인 RainToday는 최다빈도를 가지는 라벨로 대체
# 카테고리형만 있는 데이터프레임 추출
X_train_category = X_train.select_dtypes('object').copy()
X_test_category = X_test.select_dtypes('object').copy()

# 최다라벨로 대치
mode = X_train_category.value_counts('RainToday').idxmax()

X_train_category = X_train_category.fillna(mode)
X_test_category = X_test_category.fillna(mode)

######## 두 데이터 프레임 다시 합치기
X_train = pd.concat([X_train_conti, X_train_category], axis = 1)
X_test = pd.concat([X_test_conti, X_test_category], axis = 1)

In [15]:
###### STEP3-3. 카테고리형 컬럼 전처리
# 문자열(object) 컬럼들의 유일값 수 확인
# .select_dtypes()은 원하는 dtype을 가진 데이터프레임만 추출 후 유일값 수 확인
# 별도의 과정 없음

In [16]:
###### STEP3-4. 수치형 컬럼 전처리
# 별도의 과정 없음

In [17]:
###### STEP3-5. 데이터 분할
from sklearn.model_selection import train_test_split

# X_train과 y_train을 학습용(X_TRAIN, y_TRAIN)과 검증용(X_VAL, y_VAL)로 분할
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state = 1234, test_size = 0.3)

# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(8199, 8)
(3515, 8)
(8199, 1)
(3515, 1)

In [18]:
###### STEP3-6. 인코딩
# 카테고리형 컬럼에 대하여 원-핫 인코딩 수행
from sklearn.preprocessing import OneHotEncoder

# 인코딩할 카테고리형 컬럼만 별도 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = X_test.select_dtypes('object').copy()

# 원-핫 인코딩
enc = OneHotEncoder(sparse = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [19]:
###### STEP3-7. 스케일링
from sklearn.preprocessing import StandardScaler

# 스케일링할 컬럼만 별도 저장
# .select_dtypes() 메소드의 exclude 옵션은 해당 dtype을 제외한 모든 dtype을 추출할 때 사용
X_TRAIN_conti = X_TRAIN.select_dtypes(exclude = 'object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude = 'object').copy()
X_TEST_conti = X_test.select_dtypes(exclude = 'object').copy()

# TRAIN 데이터 기준으로 스케일링함
scale = StandardScaler().fit(X_TRAIN_conti)

# z-점수 표준화
X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

In [20]:
###### STEP3-8. 입력 데이터셋 준비
import numpy as np

# 인코딩과 스케일링된 넘파이배열 연결
X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

# 'Yes'와 'No'를 각각 1,0에 매핑
y_TRAIN = y_TRAIN['RainTomorrow'].map({'No':0, 'Yes':1})
y_VAL = y_VAL['RainTomorrow'].map({'No':0, 'Yes':1})

# 1차원 넘파이 배열로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [21]:
##### STEP4. 모델 학습
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

###### STEP4-1. random forest
rf = RandomForestClassifier(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)

model_rf = rf.fit(X_TRAIN, y_TRAIN)

###### STEP4-2. XGBoost
xgb = XGBClassifier(max_depth = 8,
                    n_estimators = 500,
                    nthread = 5,
                    min_child_weight = 20,
                    gamma = 0.5,
                    objective = 'binary:logistic',
                    use_label_encoder = False,
                    random_state = 2022)

model_xgb = xgb.fit(X_TRAIN, y_TRAIN, eval_metric = 'mlogloss')

###### STEP4-3. LightGBM
lgb = LGBMClassifier(max_depth = 8,
                     n_estimators = 500,
                     n_jobs = 30,
                     min_child_weight = 10,
                     learning_rate = 0.2,
                     objective = 'binary',
                     random_state = 2022)

model_lgb = lgb.fit(X_TRAIN, y_TRAIN)

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
###### STEP4-4. 성능평가(기준:AUC)를 통한 모델 선정
from sklearn.metrics import roc_curve, auc

# 검증용 데이터셋을 통한 예측
score_rf = model_rf.predict_proba(X_VAL)[:,1]
score_xgb = model_xgb.predict_proba(X_VAL)[:,1]
score_lgb = model_lgb.predict_proba(X_VAL)[:,1]

# AUC 계산
fpr, tpr, thresholds = roc_curve(y_VAL, score_rf)
auc_rf = auc(fpr, tpr)
print(auc_rf)

fpr, tpr, thresholds = roc_curve(y_VAL, score_xgb)
auc_xgb = auc(fpr, tpr)
print(auc_xgb)

fpr, tpr, thresholds = roc_curve(y_VAL, score_lgb)
auc_lgb = auc(fpr, tpr)
print(auc_lgb)

0.7377311116183519
0.7448954359191748
0.7596543334673899

In [ ]:
##### STEP5. 결과 제출하기
###### 실제 시험에서 답 제출시에는 성능이 가장 우수한 모형 하나만 구현!
X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_score = model_lgb.predict_proba(X_TEST)[:,1]

# 문제에서 요구하는 형태로 변환 필요
obj = {'Date' : Date,
       'RainTomorrow_prob' : y_score}

result = pd.DataFrame(obj)

# 하위에 12345.csv 이름으로 저장하기
result.to_csv("12345.csv", index = False)

In [ ]:
##### STEP6. 채점 모델 평가(번외)
# 실제값
actual = pd.read_csv('data/모의고사/03회/weatherAUS_y_test.csv', encoding = 'cp949')
actual = actual['RainTomorrow'].ravel()

# 채점 기준이 될 성과지표 값
fpr, tpr, thresholds = roc_curve(actual, y_score, pos_label = 'Yes')
auc(fpr, tpr)

0.7066865384099572

# (끝)