## 모의고사 1회

### (작업형1)

#### 1. iris  데이터셋을 불러와 Sepal.Width 컬럼에 대해 Sepal.Width의 평균값을 기준으로 3배 표준편차 이상으로 떨어진 값들의 합을 구하여라.

In [1]:
#### 모의고사 01회 01 Solution
import pandas as pd
exam1 = pd.read_csv('data/모의고사/01회/iris.csv')

##### sepal_width 별도 저장
sepal_width = exam1['Sepal.Width']

##### sepal_width 평균 기준 3배 표준편차 이상 떨어진 데이터추출
# sepal_width의 평균
avg = sepal_width.mean()

# sepal_length의 표준편차
sd = sepal_width.std()

# 상한과 하한
upp = avg + 3 * sd
low = avg - 3 * sd

##### sepal_width 평균 기준 3배 표준편차 이상 벗어날 조건
# 하한보다 작고 상한보다 큼
cond = (sepal_width < low) | (sepal_width > upp)

##### 결과를 result에 할당
result = sepal_width[cond].sum() # 떨어진 값들의 합

##### 결과 출력
print(result)

4.4

---

#### 2. mtcars1 데이터셋을 불러와 disp 컬럼에 대해서 순위를 부여한 후, 1위부터 20위까지의 값들의 표준편차를 구하고 소수점 셋째 자리에서 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 상위 등수를 기준으로 하며 최댓값을 1위로 함)

In [2]:
#### 모의고사 01회 02 Solution
import pandas as pd
exam2 = pd.read_csv('data/모의고사/01회/mtcars1.csv')

# disp 컬럼 별도 저장
disp = exam2['disp']

# disp 순위 부여
rank = disp.rank(method = 'min', ascending = False)

# 1위부터 20위까지의 값 
rank20 = disp[rank <= 20]

##### 결과를 result에 할당
result = round(rank20.std(), 2)

##### 결과 출력
print(result)

97.47

---

#### 3. Cars93 데이터셋을 불러와 전체 레코드 수, 결측치가 있는 컬럼의 수, 전체 결측치 수, 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수와 두 개 이상의 컬럼이 동시에 결측인 레코드의 행번호들의 합을 구한 후 모두 합하여라.

In [3]:
#### 모의고사 01회차 03 Solution
import pandas as pd
exam3 = pd.read_csv('data/모의고사/01회/Cars93.csv')

##### case1. 전체 레코드 수
case1 = exam3.shape[0]

##### case2. 결측치가 있는 컬럼의 수
case2 = sum(exam3.isna().sum() != 0)

##### case3. 전체 결측치 수
case3 = sum(exam3.isna().sum())

##### case4. 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수
# 결측치의 수가 10개가 이상인 컬럼명을 colnm_10over에 할당
colnm_10over = exam3.columns[exam3.isna().sum() > 10]

# 그 중에서 결측치가 없는 경우의 전체 레코드 수
sub1 = exam3[colnm_10over].copy()
case4 = len(sub1.dropna())

##### case5. 두 개 이상의 컬럼이 동시에 결측인 레코드의 행 번호들의 합
# 결측치의 수가 2개가 이상인 행 인덱스를 rownm_2over에 할당
rownm_2over = exam3.index[exam3.isna().sum(axis = 1) >= 2]

# 행 번호를 리스트로 반환한 후 합함
sub2 = list(rownm_2over)
case5 = sum(sub2)

##### 결과를 result에 할당
result = case1 + case2 + case3 + case4 + case5

##### 결과 출력
print(result)

614

---

### (작업형2)

### 1. 아래는 타이타닉호의 탑승자들의 생존과 관련한 데이터이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [4]:
#### 모의고사 01회차_작업형2 Solution

##### STEP1. 데이터셋 불러오기
import pandas as pd
X_train = pd.read_csv('data/모의고사/01회/titanic3_X_train.csv')
X_test = pd.read_csv('data/모의고사/01회/titanic3_X_test.csv')
y_train = pd.read_csv('data/모의고사/01회/titanic3_y_train.csv')

In [5]:
##### STEP2. 데이터셋 확인하기
###### STEP2-1. 데이터셋 일부 확인
print(X_train.head())
print(X_test.head())
print(y_train.head())

   ID  pclass      name   sex   age  sibsp  parch             ticket    fare  \
0   1       3  Sdy*****  male   NaN      0      0             349222  7.8958
1   2       3  Pel*****  male  25.0      0      0  STON/O 2. 3101291  7.9250
2   3       3  Kar*****  male  22.0      0      0             350060  7.5208
3   4       3  Saa*****  male   NaN      0      0               2676  7.2250
4   5       3  Cor*****  male  19.0      0      0             349231  7.8958

  cabin embarked
0   NaN        S
1   NaN        S
2   NaN        S
3   NaN        C
4   NaN        S
    ID  pclass      name     sex   age  sibsp  parch    ticket      fare  \
0  786       1  All*****  female   2.0      1      2    113781  151.5500
1  787       1  And*****    male  39.0      0      0    112050    0.0000
2  788       1  Bau*****    male   NaN      0      0  PC 17318   25.9250
3  789       1  Bax*****    male  24.0      0      1  PC 17558  247.5208
4  790       1  Bea*****    male  36.0      0      0     13050   75.2417

     cabin embarked
0  C22 C26        S
1      A36        S
2      NaN        S
3  B58 B60        C
4       C6        C
   ID  survived
0   1         0
1   2         0
2   3         0
3   4         0
4   5         0

In [6]:
###### STEP2-2. 데이터셋 요약 정보 확인
print(X_train.info())
print(X_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   pclass    785 non-null    int64
 2   name      785 non-null    object
 3   sex       785 non-null    object
 4   age       628 non-null    float64
 5   sibsp     785 non-null    int64
 6   parch     785 non-null    int64
 7   ticket    785 non-null    object
 8   fare      784 non-null    float64
 9   cabin     171 non-null    object
 10  embarked  784 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 67.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        524 non-null    int64
 1   pclass    524 non-null    int64
 2   name      524 non-null    object
 3   sex       524 non-null    object
 4   age       418 non-null    float64
 5   sibsp     524 non-null    int64
 6   parch     524 non-null    int64
 7   ticket    524 non-null    object
 8   fare      524 non-null    float64
 9   cabin     124 non-null    object
 10  embarked  523 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 45.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   survived  785 non-null    int64
dtypes: int64(2)
memory usage: 12.4 KB
None

In [7]:
###### STEP2-3. 기초통계량 확인
print(X_train.describe())
print(X_test.describe())
print(y_train.describe())

               ID      pclass         age       sibsp       parch        fare
count  785.000000  785.000000  628.000000  785.000000  785.000000  784.000000
mean   393.000000    2.296815   30.292994    0.501911    0.357962   33.454697
std    226.754272    0.835929   14.660563    1.051146    0.781166   52.251342
min      1.000000    1.000000    0.330000    0.000000    0.000000    0.000000
25%    197.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%    393.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%    589.000000    3.000000   39.250000    1.000000    0.000000   30.771850
max    785.000000    3.000000   80.000000    8.000000    6.000000  512.329200
                ID      pclass         age       sibsp       parch       fare
count   524.000000  524.000000  418.000000  524.000000  524.000000  524.00000
mean   1047.500000    2.291985   29.262368    0.494275    0.425573   33.05726
std     151.410039    0.841475   14.028790    1.028265    0.977859   51.06143
min     786.000000    1.000000    0.170000    0.000000    0.000000    0.00000
25%     916.750000    1.750000   21.000000    0.000000    0.000000    7.91770
50%    1047.500000    3.000000   28.000000    0.000000    0.000000   14.45830
75%    1178.250000    3.000000   37.750000    1.000000    0.000000   31.38750
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.32920
               ID    survived
count  785.000000  785.000000
mean   393.000000    0.382166
std    226.754272    0.486227
min      1.000000    0.000000
25%    197.000000    0.000000
50%    393.000000    0.000000
75%    589.000000    1.000000
max    785.000000    1.000000

In [8]:
##### STEP3. 데이터셋 전처리
###### STEP3-1. 불필요한 컬럼 삭제
# ID 컬럼은 탑승자에 대한 고유 정보로 key 역할로 모델에는 불필요함
# 결과 제출 시에는 X_test의 ID 컬럼이 필요하기 때문에 별도 저장
ID = X_test['ID'].copy()

# name은 텍스트 전처리 등의 방법으로 분석 가능하기도 하지만 편의상 제외
# 데이터들에서 ID, name 컬럼 삭제
X_train = X_train.drop(columns = ['ID', 'name'])
X_test = X_test.drop(columns = ['ID', 'name'])
y_train = y_train.drop(columns = 'ID')

In [9]:
###### STEP3-2. 결측치 처리
# 결측치 확인
X_train.isna().sum()

pclass        0
sex           0
age         157
sibsp         0
parch         0
ticket        0
fare          1
cabin       614
embarked      1
dtype: int64

In [10]:
X_test.isna().sum()

pclass        0
sex           0
age         106
sibsp         0
parch         0
ticket        0
fare          0
cabin       400
embarked      1
dtype: int64

In [11]:
####### age 컬럼(train 157, test 106 결측)
# age는 탑승자의 나이를 의미하고 survived와 상관관계가 낮으므로 컬럼을 삭제

# 결측일 조건
cond_na = X_train['age'].isna()

# 피어슨 상관계수
from scipy.stats import pearsonr
pearsonr(y_train['survived'][~cond_na], X_train['age'][~cond_na])

(-0.038941541898378514, 0.32990878593933864)

In [12]:
# 완료 후 Age 컬럼을 삭제
X_train = X_train.drop('age', axis = 1)
X_test = X_test.drop('age', axis = 1)

In [13]:
####### fare 컬럼(train 1 결측)
# fare는 티켓요금을 의미하고 train에만 결측치가 1개 존재하므로 레코드를 삭제함

# 결측일 조건
cond_na = X_train['fare'].isna()

# 행 삭제
X_train = X_train[~cond_na]
y_train = y_train[~cond_na]

In [14]:
####### cabin 컬럼(train 614, test 400 결측)
# cabin는 선실번호를 의미하고 train은 레코드의 78%, test는 레코드의 76%가 결측이므로 컬럼을 삭제

# cabin 컬럼을 삭제
X_train = X_train.drop('cabin', axis = 1)
X_test = X_test.drop('cabin', axis = 1)

In [15]:
####### embarked 컬럼(train 1, test 1 결측)
# embarked는 탑승한 곳을 의미하고 범주형으로 최다빈도를 가지는 범주로 대체함

# 최다빈도
top = X_train['embarked'].value_counts().idxmax()

# 대치
X_train['embarked'] = X_train['embarked'].fillna(top)
X_test['embarked'] = X_test['embarked'].fillna(top)

In [16]:
###### STEP3-3. 카테고리형 컬럼 전처리
# 문자열(object) 컬럼들의 유일값 수 확인
print(X_train.select_dtypes('object').nunique())
print(X_test.select_dtypes('object').nunique())

sex           3
ticket      621
embarked      3
dtype: int64
sex           3
ticket      445
embarked      3
dtype: int64

In [17]:
####### sex 컬럼
# 여성에 대한 일부 카테고리가 'F'로 되어있음
X_train['sex'].value_counts()

male      517
female    244
F          23
Name: sex, dtype: int64

In [18]:
X_test['sex'].value_counts()

male      325
female    173
F          26
Name: sex, dtype: int64

In [19]:
# train, test 모두 'F'를 'female'로 통일
X_train['sex'] = X_train['sex'].map({'male':'male', 'female':'female', 'F':'female'})
X_test['sex'] = X_test['sex'].map({'male':'male', 'female':'female', 'F':'female'})

In [20]:
####### ticket 컬럼
# 대다수가 중복되지 않으므로 컬럼을 삭제하는 것으로 결정
X_train = X_train.drop('ticket', axis = 1)
X_test = X_test.drop('ticket', axis = 1)

In [21]:
###### STEP3-4. 수치형 컬럼 전처리
####### pclass 컬럼
# 수치형으로 인식되지만 1,2,3등석 정보를 각 1,2,3으로 저장한 것으로
# 카테고리의 의미를 가지는 컬럼
# dtype 변경 후 파생변수 pclass_gp에 할당하고 기존 컬럼 삭제
X_train['pclass_gp'] = X_train['pclass'].astype('object')
X_test['pclass_gp'] = X_test['pclass'].astype('object')

# 완료 후 삭제
X_train = X_train.drop('pclass', axis = 1)
X_test = X_test.drop('pclass', axis = 1)

####### sibsp, parch 컬럼
# sibsp는 동승한 형제 또는 배우자의 수, parch는 동승한 부모 또는 자녀의 수이므로
# 두 컬럼을 합한 파생변수 fam을 생성하고 이는 동승한 가족 인원을 의미
X_train['fam'] = X_train['sibsp'] + X_train['parch']
X_test['fam'] = X_test['sibsp'] + X_test['parch']

# 완료 후 삭제
X_train = X_train.drop(['sibsp', 'parch'], axis = 1)
X_test = X_test.drop(['sibsp', 'parch'], axis = 1)

In [22]:
###### STEP3-5. 데이터 분할
from sklearn.model_selection import train_test_split

# X_train과 y_train을 학습용(X_TRAIN, y_TRAIN)과 검증용(X_VAL, y_VAL)로 분할
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state = 1234, test_size = 0.1)

# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(705, 5)
(79, 5)
(705, 1)
(79, 1)

In [23]:
###### STEP3-6. 인코딩
# 카테고리형 컬럼에 대하여 원-핫 인코딩 수행
from sklearn.preprocessing import OneHotEncoder

# 인코딩할 카테고리형 컬럼만 별도 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = X_test.select_dtypes('object').copy()

# 원-핫 인코딩
enc = OneHotEncoder(sparse = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [24]:
###### STEP3-7. 스케일링
from sklearn.preprocessing import StandardScaler

# 스케일링할 컬럼만 별도 저장
# .select_dtypes() 메소드의 exclude 옵션은 해당 dtype을 제외한 모든 dtype을 추출할 때 사용
X_TRAIN_conti = X_TRAIN.select_dtypes(exclude = 'object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude = 'object').copy()
X_TEST_conti = X_test.select_dtypes(exclude = 'object').copy()

# TRAIN 데이터 기준으로 스케일링함
scale = StandardScaler().fit(X_TRAIN_conti)

# z-점수 표준화
X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

In [25]:
###### STEP3-8. 입력 데이터셋 준비
import numpy as np

# 인코딩과 스케일링된 넘파이 배열 연결
X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

# 1차원 넘파이 배열로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [26]:
##### STEP4. 모델 학습
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

###### STEP4-1. random forest
rf = RandomForestClassifier(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)

model_rf = rf.fit(X_TRAIN, y_TRAIN)

###### STEP4-2. XGBoost
xgb = XGBClassifier(max_depth = 8,
                    n_estimators = 500,
                    nthread = 5,
                    min_child_weight = 20,
                    gamma = 0.5,
                    objective = 'binary:logistic',
                    use_label_encoder = False,
                    random_state = 2022)

model_xgb = xgb.fit(X_TRAIN, y_TRAIN, eval_metric = 'mlogloss')

###### STEP4-3. LightGBM
lgb = LGBMClassifier(max_depth = 8,
                     n_estimators = 500,
                     n_jobs = 30,
                     min_child_weight = 10,
                     learning_rate = 0.2,
                     objective = 'binary',
                     random_state = 2022)

model_lgb = lgb.fit(X_TRAIN, y_TRAIN)

C:\Users\Administrator\anaconda3\envs\big_ana\lib\site-packages\xgboost\compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [27]:
###### STEP4-4. 성능평가(기준:f1-score)를 통한 모델 선정
from sklearn.metrics import f1_score

# 검증용 데이터셋을 통한 예측
pred_rf = model_rf.predict(X_VAL)
pred_xgb = model_xgb.predict(X_VAL)
pred_lgb = model_lgb.predict(X_VAL)

# f1-score 계산
f1_rf = f1_score(y_VAL, pred_rf)
print(f1_rf)

f1_xgb = f1_score(y_VAL, pred_xgb)
print(f1_xgb)

f1_lgb = f1_score(y_VAL, pred_lgb)
print(f1_lgb)

0.6808510638297872
0.6250000000000001
0.6792452830188679

In [28]:
##### STEP5. 결과 제출하기
###### 실제 시험에서 답 제출시에는 성능이 가장 우수한 모형 하나만 구현!
X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_rf.predict(X_TEST)

# 문제에서 요구하는 형태로 변환 필요
obj = {'ID' : ID,
       'survived' : y_pred}
result = pd.DataFrame(obj)

# 하위에 12345.csv 이름으로 저장하기
result.to_csv("12345.csv", index = False)

In [29]:
##### STEP6. 채점 모델 평가(번외)
# 실제값
actual = pd.read_csv('data/모의고사/01회/titanic3_y_test.csv', encoding = 'cp949')
actual = actual['survived'].ravel()

# 채점 기준이 될 성과지표 값
f1_score(actual, y_pred)

0.7083333333333334

# (끝)