In [5]:
import requests, json

In [2]:
CLIENT_ID = "0keVMr8xAhCCKKHqq_SZ"
CLIENT_SECRET = "znXZuY_dDI"

In [3]:
headers = {"Content-Type": "application/json",
            "X-Naver-Client-Id": CLIENT_ID,
            "X-Naver-Client-Secret": CLIENT_SECRET}

In [6]:
url = "https://openapi.naver.com/v1/datalab/search"
params = {
"startDate": "2023-01-01",
"endDate": "2023-12-31",
"timeUnit": "month", 
"keywordGroups": [
{"groupName": "트위터", "keywords": ["트위터", "트윗"]},
{"groupName": "페이스북", "keywords": ["페이스북", "페북"]},
{"groupName": "인스타그램", "keywords": ["인스타그램", 
"인스타"]}]}
response = requests.post(url, data = json.dumps(params), headers=headers)

In [9]:
response.json()

{'startDate': '2023-01-01',
 'endDate': '2023-12-31',
 'timeUnit': 'month',
 'results': [{'title': '트위터',
   'keywords': ['트위터', '트윗'],
   'data': [{'period': '2023-01-01', 'ratio': 94.93332},
    {'period': '2023-02-01', 'ratio': 90.62362},
    {'period': '2023-03-01', 'ratio': 89.60876},
    {'period': '2023-04-01', 'ratio': 100},
    {'period': '2023-05-01', 'ratio': 81.95453},
    {'period': '2023-06-01', 'ratio': 85.40499},
    {'period': '2023-07-01', 'ratio': 96.99514},
    {'period': '2023-08-01', 'ratio': 95.33897},
    {'period': '2023-09-01', 'ratio': 81.96185},
    {'period': '2023-10-01', 'ratio': 85.98988},
    {'period': '2023-11-01', 'ratio': 81.43833},
    {'period': '2023-12-01', 'ratio': 82.00285}]},
  {'title': '페이스북',
   'keywords': ['페이스북', '페북'],
   'data': [{'period': '2023-01-01', 'ratio': 53.00228},
    {'period': '2023-02-01', 'ratio': 46.08832},
    {'period': '2023-03-01', 'ratio': 47.57329},
    {'period': '2023-04-01', 'ratio': 44.75489},
    {'period': '2023-05-01', 'ratio': 45.13131},
    {'period': '2023-06-01', 'ratio': 42.12839},
    {'period': '2023-07-01', 'ratio': 42.25194},
    {'period': '2023-08-01', 'ratio': 41.05227},
    {'period': '2023-09-01', 'ratio': 37.28701},
    {'period': '2023-10-01', 'ratio': 37.21907},
    {'period': '2023-11-01', 'ratio': 35.51946},
    {'period': '2023-12-01', 'ratio': 36.08099}]},
  {'title': '인스타그램',
   'keywords': ['인스타그램', '인스타'],
   'data': [{'period': '2023-01-01', 'ratio': 72.31953},
    {'period': '2023-02-01', 'ratio': 69.45774},
    {'period': '2023-03-01', 'ratio': 78.99667},
    {'period': '2023-04-01', 'ratio': 81.03542},
    {'period': '2023-05-01', 'ratio': 87.32269},
    {'period': '2023-06-01', 'ratio': 85.21056},
    {'period': '2023-07-01', 'ratio': 80.47527},
    {'period': '2023-08-01', 'ratio': 78.25832},
    {'period': '2023-09-01', 'ratio': 75.16921},
    {'period': '2023-10-01', 'ratio': 78.90599},
    {'period': '2023-11-01', 'ratio': 82.60252},
    {'period': '2023-12-01', 'ratio': 77.80911}]}]}

In [10]:
restapi_key = "d44eaac9a1ae4db5ec4a3b895553fb84"
url = "https://dapi.kakao.com/v2/local/search/address.json"
params = { "query": '집현동로 77' }
headers = {"Authorization": "KakaoAK " + restapi_key}
response = requests.get(url, headers=headers, params=params)
response

In [12]:
data = response.json()

In [17]:
data['documents'][0]['address']['x']

'127.325356593945'

In [18]:
data['documents'][0]['address']['y']

'36.4910924250367'

In [20]:
url = 'https://apis.zigbang.com/v2/items/oneroom?geohash=wy6x9&depositMin=0&rentMin=0&salesTypes%5B0%5D=%EC%A0%84%EC%84%B8&salesTypes%5B1%5D=%EC%9B%94%EC%84%B8&domain=zigbang&checkAnyItemWithoutFilter=true'

response = requests.get(url)
response.json()

{'items': [],
 'sections': [{'type': 'vip', 'itemIds': []},
  {'type': '안심추천', 'itemIds': []},
  {'type': '안심일반', 'itemIds': []},
  {'type': '추천', 'itemIds': []},
  {'type': '일반', 'itemIds': []}],
 'subways': [],
 'anyItemWithoutFilter': False}

In [ ]:
url = f'https://apis.zigbang.com/v2/items/oneroom?geohash={geohash}\
&depositMin=0&rentMin=0&salesTypes[0]=월세&salesTypes[1]=전세\
&domain=zigbang&checkAnyItemWithoutFilter=true'

response = requests.get(url)
datas = response.json()['items']
ids = [data["itemId"] for data in datas]
len(ids), ids[:5]

In [45]:
url = 'https://www.zigbang.com/home/oneroom/map'

response = requests.get(url)
response

In [41]:
1 + 2 + 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ \
2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2\
+ \
2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2+ 2

77

In [35]:
'''abc\
def'''

'abcdef'

In [46]:
url = '''https://apis.zigbang.com/v2/items/oneroom?geohash=wy6r\
&depositMin=0&rentMin=0&salesTypes[0]=전세\
&salesTypes[1]=월세&domain=zigbang&checkAnyItemWithoutFilter=true'''

response = requests.get(url)
response

In [51]:
result = response.json()
items_Id = []
for item in result['items']:
    items_Id.append(item['itemId'])

In [53]:
print(items_Id)

[39056719, 39388676, 39283056, 39369210, 39388712, 39388764, 39287969, 39409749, 39409798, 39305965, 39305353, 39398314, 39321727, 39369142, 39398360, 39343361, 39347569, 39355839, 39360761, 39339608, 39393320, 39229121, 39261644, 39305063, 39344292, 39171438, 39398219, 39112380, 39350298, 39351506, 39366145, 39367426, 39386168, 39056928, 39287166, 39313337, 39040316, 39202996, 39255990, 39251534, 39033181, 39192634, 39169011, 39376043, 39232083, 39327317, 39296766, 39312458, 39261686, 39274714, 39342103, 39350267, 39350309, 39365085, 39393796, 39397089, 39405413, 39187794, 39241290, 39292105, 39300606, 39407767, 39396699, 39392419, 39393780, 39312475, 39398237, 39369937, 39259163, 39259103, 39407788, 39398801, 39393501, 39382031, 39259207, 39399984, 39402029, 39334745, 39395632, 39369403, 39320922, 39077983, 39321675, 39384675, 39313840, 39233430, 39369081, 39388857, 39343275, 39365514]

In [62]:
url = "https://apis.zigbang.com/v2/items/list"
params = {"item_ids": items_Id, "domain": "zigbang"}
response = requests.post(url, data = params)

In [67]:
result = response.json()
final_result = []
for item in result['items']:
    sales_type = item['sales_type']
    deposit = item['deposit']
    rent = item['rent']
    area = item['전용면적']['m2']
    address = item['address']
    final_result.append([sales_type, deposit, rent, area, address])
final_result

[['월세', 500, 55, 27.16, '나성동'],
 ['월세', 500, 66, 38.24, '나성동'],
 ['월세', 11000, 15, 34.05, '나성동'],
 ['전세', 11300, 0, 35.19, '나성동'],
 ['월세', 500, 68, 35.19, '나성동'],
 ['월세', 500, 53, 19.57, '나성동'],
 ['월세', 500, 55, 21.85, '나성동'],
 ['월세', 500, 50, 22.48, '나성동'],
 ['월세', 5000, 15, 22.68, '나성동'],
 ['월세', 500, 60, 30.55, '나성동'],
 ['월세', 6500, 30, 25.7, '나성동'],
 ['월세', 300, 55, 25.7, '나성동'],
 ['월세', 300, 57, 24.12, '나성동'],
 ['전세', 9600, 0, 24.12, '나성동'],
 ['월세', 500, 50, 19.83, '나성동'],
 ['월세', 8600, 10, 25.99, '나성동'],
 ['월세', 500, 60, 26.12, '나성동'],
 ['월세', 500, 60, 25, '나성동'],
 ['월세', 500, 60, 26.12, '나성동'],
 ['월세', 500, 65, 36.54, '나성동'],
 ['월세', 500, 75, 39.95, '나성동'],
 ['월세', 500, 60, 25.61, '나성동'],
 ['월세', 500, 65, 28.43, '나성동'],
 ['월세', 500, 65, 28.43, '나성동'],
 ['월세', 3000, 50, 26.19, '나성동'],
 ['월세', 300, 60, 25.45, '나성동'],
 ['월세', 5000, 30, 24.42, '나성동'],
 ['월세', 500, 70, 28.39, '나성동'],
 ['월세', 500, 65, 26.99, '나성동'],
 ['월세', 500, 66, 27.98, '나성동'],
 ['월세', 2000, 53, 28.39, '나성동'],
 ['전세', 13000, 0, 27.99, '나성동'],
 ['월세', 9300, 15, 28.1, '나성동'],
 ['월세', 3000, 50, 26.44, '나성동'],
 ['월세', 500, 65, 27.08, '나성동'],
 ['월세', 200, 25, 22, '장군면 은용리'],
 ['월세', 5000, 35, 23.28, '나성동'],
 ['월세', 500, 60, 23.28, '나성동'],
 ['월세', 500, 48, 18.56, '나성동'],
 ['월세', 500, 65, 28.12, '나성동'],
 ['월세', 500, 60, 26.45, '나성동'],
 ['월세', 500, 65, 26.45, '나성동'],
 ['전세', 3500, 0, 22, '장군면 은용리'],
 ['전세', 3500, 0, 23.14, '장군면 은용리'],
 ['월세', 500, 60, 20.1, '나성동'],
 ['월세', 500, 60, 20.83, '나성동'],
 ['월세', 200, 40, 36.36, '장군면 도계리'],
 ['월세', 200, 38, 36.36, '장군면 도계리'],
 ['월세', 500, 50, 23.74, '어진동'],
 ['월세', 500, 50, 24.22, '어진동'],
 ['월세', 2000, 40, 22.42, '어진동'],
 ['월세', 2000, 75, 39.13, '어진동'],
 ['월세', 500, 50, 24.22, '어진동'],
 ['전세', 7600, 0, 22.42, '어진동'],
 ['월세', 300, 46, 23.74, '어진동'],
 ['월세', 500, 50, 22.42, '어진동'],
 ['월세', 3000, 38, 22.42, '어진동'],
 ['월세', 500, 60, 24.44, '어진동'],
 ['월세', 500, 55, 23.45, '어진동'],
 ['월세', 500, 55, 24, '어진동'],
 ['월세', 500, 65, 30, '어진동'],
 ['월세', 200, 30, 23.14, '장군면 하봉리'],
 ['월세', 200, 30, 23, '장군면 도계리'],
 ['월세', 200, 30, 23, '장군면 도계리'],
 ['월세', 200, 45, 46, '장군면 도계리'],
 ['월세', 200, 30, 23.14, '장군면 봉안리'],
 ['월세', 100, 28, 20, '장군면 봉안리'],
 ['월세', 200, 50, 46.28, '장군면 도계리'],
 ['월세', 300, 35, 23.14, '장군면 봉안리'],
 ['전세', 4000, 0, 21.49, '장군면 봉안리'],
 ['월세', 200, 30, 29.75, '장군면 봉안리'],
 ['월세', 300, 43, 38, '장군면 봉안리'],
 ['월세', 200, 35, 26, '장군면 봉안리'],
 ['월세', 300, 30, 20, '장군면 봉안리'],
 ['월세', 250, 35, 23.14, '장군면 봉안리'],
 ['월세', 300, 35, 25, '장군면 봉안리'],
 ['월세', 200, 30, 20, '장군면 봉안리'],
 ['월세', 200, 30, 23.14, '장군면 봉안리'],
 ['월세', 100, 30, 21.49, '장군면 봉안리'],
 ['월세', 100, 29, 21.49, '장군면 봉안리'],
 ['월세', 100, 30, 28.1, '장군면 대교리'],
 ['월세', 3000, 15, 22, '장군면 봉안리'],
 ['월세', 200, 30, 22, '장군면 봉안리'],
 ['월세', 100, 25, 16.53, '장군면 대교리'],
 ['전세', 4000, 0, 23.14, '장군면 대교리'],
 ['월세', 500, 50, 17.39, '도담동'],
 ['월세', 500, 50, 19.16, '도담동'],
 ['월세', 500, 50, 21, '도담동'],
 ['월세', 500, 50, 20.17, '도담동'],
 ['월세', 500, 50, 20.17, '도담동']]

In [84]:
def search_location(query):
    restapi_key = '60b71cac95c11ebfeb2ee9d26ca44bbc'
    url = "https://dapi.kakao.com/v2/local/search/address.json"
    params = { "query": query }
    headers = {"Authorization": "KakaoAK " + restapi_key}
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code == 200:
        try:
            address = response.json()['documents'][0]
            return float(address['x']), float(address['y'])
        except:
            return '검색안됨'
    else:
        return response.status_code

In [83]:
search_location('새나루 9단지')

'검색안됨'

In [73]:
!pip install geohash2

Collecting geohash2
  Downloading geohash2-1.1.tar.gz (15 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: docutils>=0.3 in c:\users\admin\appdata\local\anaconda3\lib\site-packages (from geohash2) (0.18.1)
Building wheels for collected packages: geohash2
  Building wheel for geohash2 (setup.py): started
  Building wheel for geohash2 (setup.py): finished with status 'done'
  Created wheel for geohash2: filename=geohash2-1.1-py3-none-any.whl size=15554 sha256=e8f59f07652c7ef085337c399be14b4bca3fb549de106bce09618c2f81ae3b9e
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\f6\7c\c4\1b3c6fea0ebc53bf730dc86bbee7a713d501455dfb4c1f0623
Successfully built geohash2
Installing collected packages: geohash2
Successfully installed geohash2-1.1

In [74]:
import geohash2

In [85]:
lng, lat = search_location('보람동')

In [90]:
geohash = geohash2.encode(lat, lng, precision=5)
geohash

'wy6x8'

In [96]:
def search_ids(geohash):
    url = f'https://apis.zigbang.com/v2/items/oneroom'

    params = {'geohash': geohash,
              'depositMin':'0',
              'rentMin':'0',
              'salesTypes' : ['월세', '전세'],
              'domain':'zigbang',
              'checkAnyItemWithoutFilter':'true'}

    response = requests.get(url, params)
    if response.status_code == 200:
        datas = response.json()['items']
        ids = [data["itemId"] for data in datas]
        return ids
    else:
        return response.status_code

In [97]:
ids = search_ids(geohash)

In [128]:
url = "https://apis.zigbang.com/v2/items/list"
params = {"item_ids": ids, "domain": "zigbang"}
response = requests.post(url, params)
result = response.json()

In [130]:
def search_oneroom(ids):
    url = "https://apis.zigbang.com/v2/items/list"
    params = {"item_ids": ids, "domain": "zigbang"}
    response = requests.post(url, params)
    result = response.json()
    final_result = []
    for item in result['items']:
        item_id = item['item_id']
        sales_type = item['sales_type']
        deposit = item['deposit']
        rent = item['rent']
        area = item['전용면적']['m2']
        address = item['address']
        final_result.append([item_id, sales_type, deposit, rent, area, address])
    return final_result

In [131]:
lng, lat = search_location('서초구')
geohash = geohash2.encode(lat, lng, precision=5)
ids = search_ids(geohash)
result = search_oneroom(ids)

In [111]:
item = ['월세', 1000, 70, 20.82, '서초구 우면동']
list(map(str, item))

['월세', '1000', '70', '20.82', '서초구 우면동']

In [132]:
result[:5]

[[39302452, '월세', 1000, 70, 20.82, '서초구 우면동'],
 [39353792, '월세', 1000, 71, 21.88, '서초구 우면동'],
 [39353817, '월세', 1000, 70, 21.82, '서초구 우면동'],
 [39380091, '월세', 1000, 88, 26.76, '서초구 우면동'],
 [39394925, '월세', 5000, 76, 20.76, '서초구 양재동']]

In [123]:
def write_txt(file, result, mode='w'):
    with open(file, mode, encoding='euc-kr') as f:
        for item in result: # item = ['월세', 1000, 70, 20.82, '서초구 우면동']
            item = list(map(str, item))
            item = ', '.join(item)
            f.write(item)
            f.write('\n')
    print('파일 생성 완료')

In [139]:
lng, lat = search_location('서초구')
geohash = geohash2.encode(lat, lng, precision=5)
ids = search_ids(geohash)
result = search_oneroom(ids)
write_txt('result.txt', result)

파일 생성 완료

In [135]:
import pymysql

In [149]:
def insert_maria(result):
    conn = pymysql.connect(user = 'maria',
                            password = '1234',
                            host = 'localhost',
                            port = 3306,
                            database = 'python_db'
                            )
    cursor = conn.cursor()

    sql = '''insert into oneroom values (%s, %s, %s, %s, %s, %s)'''
    for index, item in enumerate(result):
        try:
            cursor.execute(sql, item)
        except:
            print('중복데이터 입력 :', item[0])
            continue
        if index % 10 == 0:
            conn.commit()

    conn.commit()
    conn.close()

In [151]:
lng, lat = search_location('조치원읍')
geohash = geohash2.encode(lat, lng, precision=5)
ids = search_ids(geohash)
result = search_oneroom(ids)
insert_maria(result)

In [153]:
result

[[39273497, '월세', 100, 35, 23.14, '연서면 봉암리'],
 [39222100, '월세', 100, 30, 27, '연서면 봉암리'],
 [39313842, '월세', 200, 34, 23.14, '연서면 봉암리'],
 [39336453, '월세', 500, 60, 52.89, '연서면 봉암리'],
 [39067418, '월세', 200, 34, 26.45, '연서면 봉암리'],
 [39093559, '월세', 200, 30, 23.14, '연서면 봉암리'],
 [39280294, '월세', 200, 45, 33.06, '연서면 봉암리'],
 [39345888, '월세', 300, 45, 33, '연서면 봉암리'],
 [38628365, '월세', 200, 34, 23.14, '연서면 봉암리'],
 [39096869, '월세', 200, 32, 26.45, '연서면 봉암리'],
 [39054419, '월세', 200, 45, 46.28, '연서면 봉암리'],
 [39399703, '월세', 200, 45, 39.67, '연서면 봉암리'],
 [39346318, '전세', 3500, 0, 26.45, '연서면 봉암리'],
 [39408097, '전세', 3500, 0, 26.45, '연서면 봉암리'],
 [39329425, '월세', 200, 37, 29.75, '연서면 봉암리'],
 [39278458, '월세', 200, 34, 26.45, '연서면 봉암리'],
 [39066454, '월세', 200, 33, 26.45, '연서면 봉암리'],
 [39179052, '월세', 200, 45, 39.67, '연서면 봉암리'],
 [39379951, '월세', 200, 30, 26.45, '연서면 봉암리'],
 [38982258, '월세', 100, 28, 19.83, '연서면 봉암리'],
 [39296527, '월세', 200, 30, 21.49, '연서면 봉암리'],
 [39387135, '월세', 100, 28, 23.14, '연서면 월하리'],
 [37941713, '월세', 100, 28, 23.14, '연서면 월하리'],
 [38875150, '월세', 100, 28, 23.14, '연서면 월하리'],
 [39379085, '월세', 200, 28, 23.14, '조치원읍 번암리'],
 [39358223, '월세', 3000, 35, 30, '조치원읍 죽림리'],
 [39379148, '월세', 200, 31, 26.45, '조치원읍 죽림리'],
 [39321345, '전세', 2800, 0, 23.14, '조치원읍 남리'],
 [39079620, '월세', 5900, 26, 52.89, '조치원읍 신흥리'],
 [39170362, '월세', 200, 30, 19.83, '조치원읍 남리'],
 [39100409, '전세', 3500, 0, 36.36, '조치원읍 남리'],
 [39197911, '월세', 200, 30, 19.83, '조치원읍 남리'],
 [39364616, '월세', 200, 30, 26.45, '조치원읍 남리'],
 [39242689, '월세', 200, 28, 16.53, '조치원읍 남리'],
 [39198204, '월세', 200, 31, 19.83, '조치원읍 남리'],
 [39202612, '월세', 200, 31, 26.45, '조치원읍 남리'],
 [39370564, '월세', 200, 30, 26.45, '조치원읍 남리'],
 [38750645, '월세', 400, 40, 26.45, '조치원읍 신흥리'],
 [38900078, '월세', 400, 40, 29.75, '조치원읍 신흥리'],
 [39292169, '월세', 2000, 75, 66.12, '조치원읍 남리'],
 [39171808, '월세', 200, 28, 23.14, '조치원읍 남리'],
 [39246347, '전세', 4000, 0, 23.14, '조치원읍 남리'],
 [39052784, '월세', 1000, 60, 52.89, '조치원읍 신흥리'],
 [39344727, '전세', 3000, 0, 23.14, '조치원읍 남리'],
 [39382155, '월세', 2000, 60, 59.5, '조치원읍 남리'],
 [38859480, '전세', 6000, 0, 39.67, '조치원읍 침산리'],
 [38940158, '월세', 300, 35, 26.45, '조치원읍 침산리'],
 [39243089, '전세', 5500, 0, 33.06, '조치원읍 명리'],
 [38769504, '월세', 200, 29, 23.14, '조치원읍 침산리'],
 [39369618, '월세', 200, 25, 19.83, '조치원읍 침산리'],
 [39385944, '월세', 400, 40, 29.75, '조치원읍 침산리'],
 [39260917, '월세', 300, 34, 23.14, '조치원읍 침산리'],
 [39150946, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39383623, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39372695, '월세', 200, 31, 23.14, '조치원읍 침산리'],
 [39354545, '월세', 200, 27, 23.14, '조치원읍 침산리'],
 [39284682, '월세', 200, 28, 23.14, '조치원읍 침산리'],
 [39177277, '월세', 200, 30, 29.75, '조치원읍 침산리'],
 [39189551, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [39197883, '월세', 300, 31, 21.49, '조치원읍 명리'],
 [39349592, '월세', 300, 32, 26.45, '조치원읍 명리'],
 [39387280, '월세', 300, 30, 26.45, '조치원읍 명리'],
 [39039889, '월세', 1000, 70, 62.81, '조치원읍 명리'],
 [39154783, '전세', 10000, 0, 49.59, '조치원읍 침산리'],
 [39284465, '월세', 300, 30, 26.45, '조치원읍 침산리'],
 [39319282, '월세', 300, 26, 49.59, '조치원읍 침산리'],
 [39164383, '월세', 300, 31, 26.45, '조치원읍 침산리'],
 [39198291, '월세', 200, 33, 26.6, '조치원읍 침산리'],
 [38729225, '월세', 200, 32, 19.83, '조치원읍 상리'],
 [38841918, '전세', 3500, 0, 23.14, '조치원읍 상리'],
 [39278392, '월세', 200, 29, 19.83, '조치원읍 침산리'],
 [39339631, '월세', 300, 30, 29.75, '조치원읍 침산리'],
 [39348453, '월세', 300, 32, 25, '조치원읍 침산리'],
 [39384327, '월세', 300, 30, 29.75, '조치원읍 침산리'],
 [39143550, '월세', 200, 35, 29, '조치원읍 침산리'],
 [39137412, '월세', 200, 26, 23.14, '조치원읍 침산리'],
 [39223892, '월세', 200, 28, 26.45, '조치원읍 침산리'],
 [39354526, '월세', 200, 25, 19.83, '조치원읍 침산리'],
 [39404529, '월세', 200, 30, 16.53, '조치원읍 침산리'],
 [39309327, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39341359, '월세', 200, 32, 19.83, '조치원읍 침산리'],
 [39359035, '월세', 300, 31, 19.83, '조치원읍 침산리'],
 [39384995, '월세', 300, 32, 19.83, '조치원읍 침산리'],
 [39400921, '월세', 300, 30, 23.14, '조치원읍 침산리'],
 [39221794, '월세', 100, 29, 29.75, '조치원읍 침산리'],
 [39310550, '월세', 200, 25, 23.14, '조치원읍 침산리'],
 [39070229, '월세', 300, 25, 23.14, '조치원읍 침산리'],
 [39278250, '월세', 200, 31, 23.14, '조치원읍 침산리'],
 [39344467, '월세', 10000, 40, 99.17, '조치원읍 침산리'],
 [39386293, '월세', 300, 35, 23.14, '조치원읍 침산리'],
 [39197976, '월세', 200, 29, 16.86, '조치원읍 원리'],
 [39198049, '월세', 400, 36, 14, '조치원읍 원리'],
 [39195032, '월세', 1000, 60, 33.06, '조치원읍 침산리'],
 [39394457, '월세', 1000, 54, 30, '조치원읍 침산리'],
 [39409575, '월세', 1000, 63, 36.36, '조치원읍 침산리'],
 [39198331, '월세', 200, 30, 24, '조치원읍 상리'],
 [39095440, '월세', 60, 26, 19.83, '조치원읍 침산리'],
 [39260661, '월세', 60, 26, 16.53, '조치원읍 침산리'],
 [39290936, '월세', 200, 31, 36.36, '조치원읍 침산리'],
 [39198494, '월세', 1500, 20, 21.49, '조치원읍 상리'],
 [39260627, '월세', 300, 35, 23.14, '조치원읍 침산리'],
 [39341230, '월세', 300, 30, 26.45, '조치원읍 침산리'],
 [39371444, '월세', 300, 30, 23.14, '조치원읍 침산리'],
 [38798327, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39300264, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39366924, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39377319, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [39198085, '월세', 200, 30, 19.83, '조치원읍 상리'],
 [39304047, '월세', 500, 50, 29, '조치원읍 침산리'],
 [39349305, '월세', 500, 48, 26.45, '조치원읍 침산리'],
 [39394036, '월세', 500, 60, 30, '조치원읍 침산리'],
 [39409498, '월세', 500, 57, 33.06, '조치원읍 침산리'],
 [39216834, '월세', 2000, 60, 92.56, '청주시 흥덕구 오송읍 서평리'],
 [39280111, '월세', 2000, 60, 92.56, '청주시 흥덕구 오송읍 서평리'],
 [39381546, '전세', 9450, 0, 49.59, '조치원읍 평리'],
 [39060992, '월세', 100, 26, 19.83, '조치원읍 침산리'],
 [39249889, '월세', 500, 46, 42.98, '조치원읍 교리'],
 [39214314, '월세', 500, 42, 36.36, '조치원읍 교리'],
 [39249246, '월세', 500, 40, 38, '조치원읍 교리'],
 [39120299, '월세', 300, 41, 39.67, '조치원읍 교리'],
 [39261744, '월세', 300, 41, 36.36, '조치원읍 교리'],
 [39274068, '전세', 5500, 0, 36.36, '조치원읍 교리'],
 [39385718, '월세', 300, 41, 39.67, '조치원읍 교리'],
 [39386769, '전세', 5500, 0, 36.36, '조치원읍 교리'],
 [39335232, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39129527, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [38903623, '월세', 300, 35, 23.14, '조치원읍 침산리'],
 [39341223, '월세', 200, 33, 23.14, '조치원읍 침산리'],
 [39177541, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39217512, '월세', 200, 35, 26.45, '조치원읍 침산리'],
 [39234983, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [39392621, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [39379282, '월세', 200, 29, 26.45, '조치원읍 침산리'],
 [39063515, '월세', 200, 30, 25, '조치원읍 침산리'],
 [39268023, '월세', 200, 29, 19.83, '조치원읍 침산리'],
 [39382757, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39224352, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39127708, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39189489, '월세', 1500, 70, 66.12, '조치원읍 침산리'],
 [39382924, '월세', 300, 45, 33.06, '조치원읍 침산리'],
 [39264496, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [39361639, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39127628, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39354522, '월세', 200, 27, 23.14, '조치원읍 침산리'],
 [39174183, '월세', 1000, 56, 42.97, '조치원읍 침산리'],
 [39382783, '월세', 150, 30, 23.14, '조치원읍 침산리'],
 [39139551, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39257398, '월세', 300, 34, 29.75, '조치원읍 침산리'],
 [39261697, '월세', 300, 33, 29.75, '조치원읍 침산리'],
 [39340121, '월세', 300, 35, 33.06, '조치원읍 침산리'],
 [39336670, '월세', 100, 30, 19.83, '조치원읍 침산리'],
 [39351950, '월세', 100, 30, 23.14, '조치원읍 침산리'],
 [39224767, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39386482, '월세', 200, 35, 23.14, '조치원읍 침산리'],
 [38783701, '월세', 200, 28, 23.14, '조치원읍 침산리'],
 [38891690, '월세', 200, 25, 23.14, '조치원읍 침산리'],
 [39167363, '월세', 100, 25, 20, '조치원읍 침산리'],
 [39365821, '월세', 200, 28, 23.14, '조치원읍 침산리'],
 [39372069, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39159052, '월세', 200, 30, 26.45, '조치원읍 침산리'],
 [39371787, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39412803, '월세', 200, 28, 26.45, '조치원읍 침산리'],
 [39217491, '월세', 300, 55, 42.98, '조치원읍 침산리'],
 [39081452, '월세', 200, 30, 19.83, '조치원읍 침산리'],
 [39146671, '월세', 200, 30, 23.14, '조치원읍 침산리'],
 [39228026, '전세', 3700, 0, 23.14, '조치원읍 침산리'],
 [39398253, '월세', 300, 30, 41.28, '조치원읍 교리'],
 [38342189, '월세', 1000, 35, 42.98, '조치원읍 교리'],
 [39022804, '월세', 200, 31, 26.45, '조치원읍 침산리'],
 [39302924, '월세', 200, 31, 23.14, '조치원읍 침산리'],
 [39348607, '월세', 300, 35, 21, '조치원읍 침산리'],
 [39382837, '월세', 300, 30, 26.45, '조치원읍 침산리'],
 [39399623, '월세', 300, 30, 25, '조치원읍 침산리'],
 [39403191, '월세', 500, 54, 49.59, '조치원읍 침산리'],
 [39413172, '월세', 300, 30, 26.45, '조치원읍 침산리'],
 [39275293, '월세', 30, 270, 19.83, '조치원읍 서창리'],
 [39125449, '월세', 30, 300, 15.04, '조치원읍 봉산리'],
 [39346509, '전세', 2500, 0, 15.04, '조치원읍 봉산리'],
 [39137146, '월세', 500, 45, 30, '조치원읍 침산리'],
 [39136995, '월세', 30, 360, 16, '조치원읍 침산리'],
 [39377655, '월세', 30, 330, 16.53, '조치원읍 침산리'],
 [38888201, '월세', 200, 30, 26.45, '조치원읍 교리'],
 [39400982, '월세', 200, 30, 26.45, '조치원읍 교리'],
 [39348541, '월세', 200, 30, 19.83, '조치원읍 침산리'],
 [39246335, '월세', 100, 24, 23.14, '조치원읍 서창리'],
 [39195586, '월세', 30, 32, 19.83, '조치원읍 서창리'],
 [39264430, '월세', 30, 30, 23.14, '조치원읍 서창리'],
 [39013418, '월세', 200, 28, 16.53, '조치원읍 서창리'],
 [39195022, '월세', 200, 30, 19.83, '조치원읍 서창리'],
 [39243848, '월세', 200, 30, 19.83, '조치원읍 서창리'],
 [39292435, '월세', 50, 460, 19.83, '조치원읍 서창리'],
 [39341314, '월세', 30, 450, 23.14, '조치원읍 서창리'],
 [39292450, '월세', 100, 25, 26.45, '조치원읍 교리'],
 [39249110, '전세', 3000, 0, 32, '조치원읍 교리'],
 [39076615, '전세', 13000, 0, 132.23, '조치원읍 서창리'],
 [39011853, '전세', 5000, 0, 23.14, '조치원읍 서창리'],
 [39195045, '전세', 5000, 0, 19.83, '조치원읍 서창리'],
 [39403440, '월세', 30, 400, 23.14, '조치원읍 서창리'],
 [39253642, '월세', 30, 400, 42.98, '조치원읍 서창리'],
 [39400690, '월세', 500, 41, 42.98, '조치원읍 서창리'],
 [39137300, '월세', 200, 27, 19.83, '조치원읍 서창리'],
 [39320576, '월세', 200, 33, 26.45, '조치원읍 서창리'],
 [39320764, '월세', 200, 35, 36.36, '조치원읍 서창리'],
 [39348383, '월세', 200, 35, 31, '조치원읍 서창리'],
 [39382799, '월세', 200, 30, 19.83, '조치원읍 서창리'],
 [39382872, '월세', 200, 40, 26.44, '조치원읍 서창리'],
 [39409430, '월세', 8500, 13, 33.06, '조치원읍 서창리'],
 [39382716, '월세', 200, 30, 23.14, '조치원읍 서창리']]