#### <문제풀이 01-26>

#### 1번
* 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼의 결측치를 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼의 결측치를 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오. (소수점 첫째자리)

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('./data/basic1.csv')
df.head()
df.index

RangeIndex(start=0, stop=100, step=1)

In [ ]:
a_group=df.iloc[:50]
b_group=df.iloc[50:]
print(a_group,b_group)

In [23]:
a_median=a_group['f1'].fillna(a_group.f1.median())
b_max=b_group['f1'].fillna(b_group.f1.max())

In [25]:
round(a_median.std() + b_max.std(),1)

42.0

#### 2번
* 'f4'컬럼 기준 내림차순 정렬과 'f5'컬럼 기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값을 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함. (단 소수점 둘째자리까지 출력(셋째자리에서 반올림))

In [50]:
sorted_1=df.sort_values(['f4','f5'], ascending=(False,True))
sorted_1.head(10)

      id   age city    f1  f2   f3    f4         f5
42  id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
16  id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
22  id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
2   id03  27.0   서울  61.0   1  NaN  ISTJ   9.796378
50  id51  36.0   대구   NaN   0  NaN  ISTJ  83.685380
9   id10  95.0   서울  74.0   1  NaN  ISFP   9.796378
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
20  id21  90.0   부산   NaN   1  NaN  ISFP  29.269869
70  id71  35.0   경기  84.0   2  NaN  ISFP  52.667078

In [49]:
min_value=sorted_1.iloc[:10,-1].min()
min_value

9.796377581

In [46]:
sorted.iloc[:10,-1]=min_value
sorted

      id   age city    f1  f2   f3    f4         f5
42  id43  23.0   대구  60.0   0  NaN  ISTP   9.796378
69  id70  -9.0   경기  96.0   1  NaN  ISTP   9.796378
16  id17  74.0   서울   NaN   1  NaN  ISTP   9.796378
22  id23  34.0   부산  75.0   1  NaN  ISTP   9.796378
2   id03  27.0   서울  61.0   1  NaN  ISTJ   9.796378
..   ...   ...  ...   ...  ..  ...   ...        ...
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791

[100 rows x 8 columns]

In [44]:
round((sorted.f5.mean()),2)

49.64